@import '../../../../variables.scss';
.msg {
    background-color: color(blue-primary);
    font-family: font(font-family-regular);
    // font-size: 18px;
    -webkit-transition: background 2s;
    transition: background 2s;
  }

  @media screen and (max-width: 552px) {
    .margin{
        margin:  20px 0;
    }
  }