<section>
  <div class="container ">
    <app-breadcrumbs [infoAndUrl]="{categorieUrl: 'health/.', nameCategorie: 'Fitness &amp; Health', namePage:'Body Mass Index BMI calculator'}"></app-breadcrumbs>

    <div class="col-12">
      <h1 class="text-secondary text-center">Body Mass Index BMI Calculator</h1>
      <!-- <div class="flexMobile">
        <app-banner></app-banner>
      </div> -->
      <!-- <p class="hero-subtitle col-md-9 col-12 mx-auto">
        It's very important to know your Body mass index BMI, this can help you to determine if you need to lose weight
        or
        you should gain more muscles, for a good health.
        There are several ways to measure an individual' Body mass index, and one of the most used is our calculator.
      </p> -->
    </div>
    <app-form-bmi></app-form-bmi>
    <app-other-calcultor-health eleminateCalculator="bmi"></app-other-calcultor-health>
  </div>
</section>
