<!-- <router-outlet></router-outlet> -->
<section class="container">
  <h1>Math Calculators</h1>
  <p>The following is a complete list of our math related calculators.</p>
  <div class="mb-5">
    <a routerLink="/math/random-number-generator/." class="d-block mb-2">Random Number Generator</a>
    <a routerLink="/math/percentage-calculator/." class="d-block mb-2">Percentage Calculator</a>
    <a routerLink="/math/percent-error-calculator/." class="d-block mb-2">Percent Error Calculator</a>
    <a routerLink="/math/binary-calculator/." class="d-block mb-2">Binary Calculator</a>
    <a routerLink="/math/hex-calculator/." class="d-block mb-2">Hex Calculator</a>
  </div>
</section>
