<nb-layout>
  <nb-layout-column>
    <div class="container">
      <div class="col-12">
        <app-breadcrumbs
        [infoAndUrl]="{categorieUrl: 'math/', nameCategorie: 'Math', namePage:'Exponent Calculator', itemUrl: 'math/exponent-calculator/'}">
      </app-breadcrumbs>
        <h1 class="text-secondary text-center pb-3">Exponent Calculator</h1>
        <div class="flexMobile">
          <app-banner *ngIf="envirement"></app-banner>
        </div>
      </div>
      <div class="row mb-3 d-flex flex-md-row-reverse">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h2 class="text-white text-center font-weight-bold">Exponent Calculator</h2>
            </div>
            <div class="card-body example-items-col">
              <p class="text-center font-weight-bold">x<sup>n</sup> = ?</p>
              <form [formGroup]="calculeFormExponent" (ngSubmit)="CalculateExponent(target)">
                <div *ngIf="error" class="alert alert-danger mx-auto text-center" role="alert">
                  <span>
                    {{error}}
                  </span>
                </div>
                <div class="row mx-auto d-flex justify-content-center">
                  <div class="mt-4 my-4  col-3">
                    <label for="objects">x</label>
                    <input id="objects" class="form-control" type="number" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="x" formControlName="value">
                    <small class="text-danger" *ngIf="submitted && formExponent.value.errors?.required">
                      x is
                      required.
                      !</small>
                  </div>
                  <div class="col-1 mt-4"><strong class="font-weight" style="font-size: 20px;">^</strong></div>
                  <div class="col-3">
                    <label for="sample">n</label>
                    <input id="sample" class="form-control" type="number" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="n" formControlName="exponent">
                    <small class="text-danger" *ngIf="submitted && formExponent.exponent.errors?.required">
                      n is
                      required.
                      !</small>
                  </div>
                </div>
                <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
              </form>
            </div>
          </div>
        </div>
        <span #target style="position: relative; top: -50px"></span>
        <div class="col-md-5 mx-auto mb-5 border-shadow bg-white mt-3" style="min-height: 200px;" >
          <p class="text-secondary text-center font-weight-bold">Result of Exponent Calculator</p>
          <div *ngIf="rsltExponent">
            <p class="text-white text-center msg font-weight-bold">Result : {{exponent | number}}</p>
            <p class="font-weight-bold">steps :</p>
            <p class="text-center">{{value}} <sup>{{exponentValue }}</sup> = <strong
                class="ml-1"></strong>{{exponent | number}}
            </p>

            <p class="text-center">{{value}} <sup>{{exponentValue }}</sup> = {{value }}  
              <ng-container *ngFor="let _ of [].constructor(exponentValue - 1 ) ;let i=index">
                <span *ngIf="i < 10"> * {{value }}</span>
                <span *ngIf="i > 10"> * ... {{value }}</span>
              </ng-container>
              
            </p>
            <p class="text-center">= {{exponent | number}}
            </p>
          </div>
        </div>
        <div class="col-12" *ngIf="envirement">
          <app-banner></app-banner>
        </div>
      </div>
      <app-other-calcultor-math eleminateCalculator="exponentC"></app-other-calcultor-math>
      <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">Learn About
        Exponent calculator</p>
      <div class="row border shadow bg-white my-4">
        <div class="col-md-12 mx-2 my-4">
          <p>Any integer and any exponent may be entered easily into the exponent calculator to generate the answer.
            Just type in any number, followed by any other number, then click the calculate button! The simplest
            explanation of an exponent is that it indicates how many times the huge number should be multiplied by
            itself. An exponent is the little raised number to the right of another integer.</p>
          <h3 class="text-center">How to Calculate Exponent - exponent calculator</h3>
          <p>Let's face it, there are times when the best exponent calculator is one that is simple to use and doesn't
            even require us to understand the exponent formula! However, please refer to the "Formula" box above if you
            want to know the precise formula for computing exponent.</p>
          <h3 class="text-secondary">How are exponents calculated or simplified?</h3>
          <p>Exponents are a frequent concept in algebra and naturally occur in many situations. Exponents are simple to
            deal with in the presence of certain structures. Multiplications and the same base are necessary for
            simplifications to be simple, but they are not the sole prerequisites.</p>
          <h4>Which guidelines apply to operating exponents?</h4>
          <p>These are the major exponent principles that will help you simplify equations; we might make a list
            shorter.</p>

          <img src="../../../../assets/images/exponent.png" width="350px" height="300px" alt="Exponent Calculator">
          <p>There are some rules in that list that are redundant, and we could derive them from a smaller set of rules,
            but that is not our primary objective at this time.</p>
          <h3 class="text-secondary">How does the exponent calculator work?</h3>
          <p>It may appear that I am not responding to your question, but the solution is to follow the guidelines
            mentioned above. There is no one right technique to approach exponential equations; the only guidelines are
            to follow the order of operations and to start with simplifying straightforward concepts.</p>
          <p>Then, due to the structure of what you have, you may collapse exponentiated terms based on whether they
            share a base, an exponent, or any other structure that can apply the aforementioned criteria.</p>
          <h4>Utilizing exponents in real life</h4>
          <p>Exponentiation is used in fields such as economics (compound interest, for instance), biology (population
            growth), chemistry, physics, and, of course, computer science, where storage capacity units are typically
            based on powers of two. Public-key cryptographic functions also depend on exponentiation's hard
            reversibility. These professionals frequently end up using a calculator.</p>
          <p> There is exponential decay in physics for light, sound, gravity, toxic substances, and radiation (see
            radioactive decay & half-life). We speak about exponentially growing reach when it comes to marketing and
            the propagation of memes, viral videos, and other concepts. Moore's law, which describes how computer power
            will rise, is essentially an exponential law. </p>
          <p>The scale for measuring Earthquakes is also exponential, so a magnitude 5 earthquake is 32 times stronger
            than a magnitude 4 earthquake (101.5), while a magnitude 6 earthquake releases 1,000 times more energy (103)
            than a 4. A 30 dB sound level is 10 times louder than a 20 dB sound level because the decibel scale, which
            is used to measure loudness, is also exponential: 20 dB = 102 dB = 100 power ratio, whereas 30 dB = 103 =
            1,000 power ratio.</p>
          <p>In the graph above, each exponent can be compared to a generation (in biology), a group of individuals who
            have watched a popular video or article on the internet (in marketing), or the energy released during an
            earthquake with a corresponding magnitude. We had to zoom in because, as you can see in step 10, an
            exponential process with a base of 2 is drastically dwarfed by one with a base of 3, to the point where the
            base 2 line almost appears flat next to the base 3 exponential curve. We created the graph using our online
            tool.</p>
          <p>Exponential processes frequently come before catastrophic occurrences like ruptures and explosions in
            complicated systems. According to research frequently referenced by the renowned psychometrician Jordan B.
            Peterson, the distribution of income, intelligence, and ability in humans and other species is exponential.
            It is referred to as the Paretian distribution in the human studies community (Pareto distribution).</p>
          <p>According to Didier Sornette & colleagues, financial crises, economic crises, and bubbles have an
            exponential character before they burst. Using power law (Zipf's Law), which approximates an exponential
            function, the size of cities may be accurately predicted.</p>
          <h4>Multiplying exponent calculator</h4>
          <p>The exponent is another name for the index or power in mathematics. According to the exponent values, the
            base number must be multiplied a certain amount of times. The exponent value is often placed on the right
            side, above the base number.</p>
          <p>Verify the laws of exponents as well.</p>
          <p>For instance,<strong> 4<sup>2</sup></strong></p>
          <p>In this case, the exponent is 2, while the base number is 4. <br>
            It denotes a two-fold multiplication of the number 4. <br>
            <strong>= 4 × 4 = 16</strong> <br>
            <strong>42 thus equals 16.</strong>
          </p>
          <p>The most crucial principle in multiplying exponents is that the exponent value can be added if two base
            numbers are the same.</p>
          <h4>Multiplying exponents with the same base</h4>
          <p>Exponents multiplied by the same base</p>
          <p>Have the bases of the exponents you wish to multiply the same ones? You're lucky! The simplest scenario for
            multiplying exponents is this one! You merely need to keep in mind to multiply the exponents together. The
            example that follows will demonstrate how to carry it out.</p>
          <p>Ex. 1: Let's resolve <strong>7<sup>11</sup> * 7<sup>-9</sup></strong></p>
          <p>We can see that the exponents are 11 and -9, and the bases are both equal to 7. We add the two exponents
            and use the product of powers rule:</p>
          <p><strong>7<sup>11</sup> * 7<sup>-9</sup> = 7<sup>11</sup> + <sup>(-9)</sup> =
              7<sup>2</sup></strong></p>
          <p>So, we get:</p>
          <p><strong>7<sup>11</sup> * 7<sup>-9</sup> = 7 * 7 =
              49</strong></p>
          <h4>Multiplying exponents with different bases</h4>
          <p>Your work becomes somewhat more challenging if the bases are varied, but you can do it! Let's talk about
            two instances where you may learn to multiply exponents with various bases.</p>
          <p>Example 2: Calculate <strong>5<sup>4</sup> * 2<sup>4</sup></strong></p>
          <p>As we can see, the bases are 5 and 2, yet the exponents are identical and equal to 4. As a result, we may
            multiply the bases together using the power of a product rule:</p>
          <p><strong>5<sup>4</sup> * 2<sup>4</sup> = (5 * 2)<sup>4</sup> = 10<sup>4</sup></strong></p>
          <p>Remember that multiplying by any power of ten is as easy as writing the exponent's number of zeros after
            the leading. It's four zeros in this instance:</p>
          <p><strong>5<sup>4</sup> * 2<sup>4</sup> = 10<sup>4</sup> = 1000</strong></p>
          <p>What should you do when the bases and exponents are different as well? There is no easy solution, unlike
            the two specific examples we've explored thus far.</p>
          <p>The best you can do is to use the three principles listed above coupled with the prime factorization of
            both bases to simplify the issue. For further information, see the prime factorization calculator. Prime
            factorization is the process of representing a number as the sum of prime numbers raised to the appropriate
            powers. For instance, 24 has the following prime factorization:</p>
          <p><strong>24 = 2 * 2 * 2 * 3 = 2<sup>3</sup> * 3</strong></p>
          <h4>Why is computing exponents important?</h4>
          <p>Exponents are a common occurrence in algebraic expressions, so being able to manage them and, primarily,
            minimize those exponents where it's possible, can prove to be a highly useful ability.</p>
          <p>Always remember to begin with the simpler components of the expressions, try to arrange things using the
            aforementioned method, and hunt for simpler intermediate components.
          </p>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
<ngx-json-ld [json]="schema"></ngx-json-ld>
