<nb-layout>
  <nb-layout-column>
    <div class="container">
      <div class="col-12">
        <app-breadcrumbs
          [infoAndUrl]="{categorieUrl: 'math/.', nameCategorie: 'Math', namePage:'Random Password Generator', itemUrl: 'math/random-number-generator/.'}">
        </app-breadcrumbs>
        <h1 class="text-secondary text-center pb-3">Random Password Generator</h1>
        <app-banner *ngIf="envirement"></app-banner>
      </div>
      <div class="row mb-2">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <img class="mb-3" src="../../../../assets/images/password-genrator.svg" width="400px" height="400px"
            alt="body shape calculator">
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-white text-center font-weight-bold">Random Password Generator</div>
            <div class="card-body example-items-col">
              <form [formGroup]="calculeFormRandomPass" (ngSubmit)="CalculateRandomPassword(target)">
                <div *ngIf="error" class="alert alert-danger mx-auto text-center" role="alert">
                  <span>
                    {{error}}
                  </span>
                </div>
                <div *ngIf="isCopie" class="alert alert-success  mx-auto text-center" role="alert">
                  <span>
                    {{isCopie}}
                  </span>
                  <a class="ml-5" (click)="regenerate()" nbTooltip="Regenerate New Password!" nbTooltipStatus="primary">
                    <img loading="lazy" src="../../../../assets/images/reload.png" width="30px" height="32px"
                      alt="copied to clipboard">
                  </a>
                </div>
                <div class="mb-4 row">
                  <div class="col-11">
                    <label for="password">Password Generator</label>
                    <input id="password" class="form-control" type="text" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="password" [(ngModel)]="passwordObj.password"
                      formControlName="password" #binaryInput>
                    <small class="text-danger"
                      *ngIf="submitted && formRandomPassword.password.errors?.required">Password
                      Limit is
                      required.
                      !</small>
                  </div>
                  <div class="col-1 mt-4">
                    <a (click)="copyInputMessage(binaryInput)" nbTooltip="Copied to clipboard!"
                      nbTooltipStatus="primary">
                      <img loading="lazy" src="../../../../assets/images/copy.png" width="30px" height="32px"
                        alt="copied to clipboard">
                    </a>
                  </div>
                </div>
                <div class="my4 col-12">
                  <nb-progress-bar [value]="value" [status]="status">
                    <span *ngIf="value === 25">Weak</span>
                    <span *ngIf="value === 50">Good</span>
                    <span *ngIf="value === 75">Strong</span>
                    <span *ngIf="value === 100">Very Strong</span>
                  </nb-progress-bar>
                </div>
                <div class="my-4">
                  <label for="password">Password Length</label>
                  <input id="lengthSlider" class="form-control" type="number" nbInput fullWidth status="basic"
                    shape="semi-round" placeholder="lengthSlider" formControlName="lengthSlider"
                    [(ngModel)]="obj.answer">
                </div>
                <div class="my4 col-12">
                  <input class="form-control" [id]="obj.id" type="range" [step]="obj.step" [min]="obj.minValue"
                    [max]="obj.maxValue" [(ngModel)]="obj.answer" formControlName="lengthSlider"
                    (ngModelChange)="valueChanged($event)">
                </div>
                <div class="row my-4">
                  <div class="col-6">
                    <label for="Settings">Password Settings</label>
                    <div class="form-check form-check-inline mt-3 mb-2">
                      <input id="Lowercase" class="form-check-input" type="checkbox" name="Lowercase"
                        (change)="checkLowercase($event)" checked>
                      <label class="form-check-label ml-2" for="Lowercase"> Lowercase (a-z)</label>
                    </div>
                    <div class="form-check form-check-inline mt-2">
                      <input id="Numbers" class="form-check-input" type="checkbox" name="Numbers"
                        (change)="checkNumbers($event)">
                      <label class="form-check-label ml-2" for="Numbers"> Numbers (0-9)</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <!-- <label for="Settings"></label> -->
                    <div class="form-check form-check-inline mt-5 mb-2">
                      <input id="Uppercase" class="form-check-input" type="checkbox" name="Uppercase"
                        (change)="checkUppercase($event)">
                      <label class="form-check-label ml-2" for="Uppercase"> Uppercase (A-Z)</label>
                    </div>
                    <div class="form-check form-check-inline mt-2">
                      <input id="Symbols" class="form-check-input" type="checkbox" name="Symbols"
                        (change)="checkSymbols($event)">
                      <label class="form-check-label ml-2" for="Symbols"> Symbols (!-$^+)</label>
                    </div>
                  </div>
                </div>

                <!-- <div class="my-4">
                  <label for="UpperLimit">Upper Limit</label>
                  <input id="UpperLimit" class="form-control" type="number" nbInput fullWidth status="basic"
                    shape="semi-round" placeholder="Upper Limit" formControlName="upperLimit">
                  <small class="text-danger" *ngIf="submitted && formRandomNumber.upperLimit.errors?.required">Upper
                    Limit is
                    required.
                    !</small>
                </div> -->
                <button type="submit" class="btn btnBgPrimary w-100">Generate</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-banner></app-banner>
          <span #target style="position: relative; top: -350px"></span>
        </div>
        <div class="col-md-6 offset-md-3 my-auto  my-3 py-2 border-shadow bg-white" *ngIf="generatedNumber">
          <!-- <img [ngClass]="{'showImg' : generatedNumber != null }" src="../../../../assets/images/random-genrator.svg"
              width="100%" height="61%" alt="Random Number Generator"> -->
          <div class="border-shadow bg-white">
            <p class="text-secondary text-center font-weight-bold">Result of Random Number Generator</p>
            <p class="text-center font-weight-bold" style="color: var(--primary);">{{generatedNumber}} </p>
          </div>
        </div>
      </div>
      <!-------------------------------------------------------------------------------------------------------------
          ------------------------------ second randum number generateur  ------------------------------------------
        ----------------------------------------------------------------------------------------------------------------->
      <app-other-calcultor-math eleminateCalculator="rng"></app-other-calcultor-math>
      <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">
        Learn about Random Password Generator
      </p>

      <div class="row border shadow bg-white my-4">
        <div class="col-md-12 mx-2 my-4">
          <h2>Password generator l Need a Unique, Secure Password?</h2>
          <p>password generator, Use Body-calculator to create, save, and automatically fill passwords on all of your
            devices.</p>
          <p>It is difficult for people to create passwords that have each of these properties, much alone both. To help
            you build strong, memorable passwords, we developed the Strong Password Generator. Given that bad or similar
            passwords cause for 81percent in terms of total data breaches, using random, one-of-a-kind passwords is your
            best line of defence towards online assaults.</p>
          <h3 class="text-secondary">Why does a password need to be unique and why to use password generator?</h3>
          <p>Using a single password both in your bank account login and your email account makes you more vulnerable
            since an attacker just needs one password to gain access to both accounts. </p>
          <p>If you use the same password for 14 separate accounts, you make it extremely easy for an attacker to steal
            your data. You can protect yourself by using a password generator to produce unique, easy-to-remember
            passwords.</p>
          <h4>Why must my password be unpredictable?</h4>
          <p>Random passwords are challenging to decipher by computer programmes and difficult to guess. If there is a
            discernible pattern, the risk of an attacker using a brute force attempt to get access to your account grows
            dramatically. </p>
          <p>Unconnected characters may be thrown together to create random passwords, but mixing unrelated words also
            works. In this manner, the Strong Password Generator generates passwords that are both simple to remember
            and secure in terms of cryptography.</p>
          <h4> The Strong Password Generator </h4>
          <p>It may appear tough to establish a distinct, unique password each time you sign up for a new account, and
            it is. We designed the Strong Password Generator to assist you in creating safe passwords. Furthermore,
            remembering all of those passwords when you need them may be difficult.</p>
          <p>Furthermore, remembering all of those passwords when you need them may be difficult. We created a password
            generator for this reason. A password management tool called password generator can quickly create safe
            passwords on practically any device. When you need to log into a website, the password generator will
            automatically fill in the essential information. All of the strong, random passwords produced by the
            built-in password generator are now unlocked by a single secure password that you only need to remember
            once.</p>
          <h4>I must create a strong but remember password. Any advice?</h4>
          <p>The ideal approach to create passwords that are both secure and simple to remember is using a random
            password generator. To be secure online, keep these tips in mind if you don't have access to the Strong
            Password Generator tool.</p>
          <h4>YOUR MOTHER'S FIRST NAME?</h4>
          <p>Never include any personally identifying data in your login credentials or other password-related places.
            The amount of information that can be found online might surprise you. </p>
          <p>You know those You realize those main security questions your bank requires you to answer before you can
            log in? Do not reply to them. Instead, use the Strong Password Generator to generate unique, random replies
            to those questions. You're set to go after you save the solutions in your Vault in the same way that you
            would a standard password.</p>
          <h4>ideal random escapee mount</h4>
          <p>A password generator is the best approach to create a genuinely random password since randomization is a
            crucial component of password strength. If you need a password that is both random and memorable, simply
            select "Memorable Password" in the password generator. Instead of a random character set, you will be given
            a string of four easy-to-remember words.</p>
          <h4>NORMAL PASSWORD:</h4>
          <p>Try to make your password at least 16 characters long if you can.Increasing the length of a password rather
            than utilising special characters can considerably strengthen it. A 12-character password with only letters,
            for example, is only eight times more difficult to crack than one with only numbers. </p>
          <p>A password with only 16 letters, on the other hand, is eight million times more challenging to break than
            one with 12 characters.</p>
          <h4>#nZOr3NvJRFk-T%S&5b95b</h4>
          <p>It is also unnecessary to utilise a certain order of numerals, capital letters, lowercase letters, and
            symbols. If you do this, the password will not necessarily get stronger. The fact that the words were picked
            at random is more important. However, because certain sites have character limits, the random password
            generator provides options to meet those requirements. This is done not to produce a better password, but to
            make it easier for you to construct a working password.</p>
          <h4>UNIQUE PASSWORD:</h4>
          <p>Complex password, on the other hand, are only one part of account security. You may improve security by
            enabling multi-factor authentication (MFA). In addition to your login and password, this requires an extra
            form of authentication, typically in the form of a time-limited code. Our password manager may act as a
            third-party authenticator programme by storing and transferring these codes, defeating any attacker who just
            has access to your login and password.</p>
          <h4>How can your passwords be secured?</h4>
          <p>There is a genuine problem with password fatigue, but you shouldn't allow that stop you from implementing
            some simple modifications to safeguard your money, accounts, and identity. Here are quick things you can do
            right now:</p>
          <h4>Do not reuse passwords.</h4>
          <p>Yavor once acquired access to 20,000 corporate accounts in less than an hour by just entering the default
            password the accounts came with, he said, while working as a penetration tester for businesses, helping them
            uncover and remove avenues hackers may use to sneak in.</p>
          <p>If you just do one thing to safeguard your accounts, make it the following: Reset any settings and retire
            your old "qwerty" password.</p>
          <p>Reusing passwords on several accounts reduces the security of all of them. For instance, if your Netflix
            and Chase Mobile passwords are the same, a Netflix data breach might put your bank account in danger.</p>
          <h4>Examine your passwords to see if any have been compromised.</h4>
          <p>An exposed password can be the motivation you need to improve your password hygiene.</p>
          <p>If one of your stored passwords is involved in a breach, Apple tells you. Change any passwords that put you
            at risk on an iPhone by going to Settings -> Passwords -> Security Recommendations. Visit
            passwords.google.com to view the passwords you've given Google permission to store. Check your passwords by
            going to Password Checkup. (Note: I would suggest using an alternative form of password storage because it's
            simple to leave oneself hooked into Google on someone else's computer.)</p>
          <p>Password managers, which are programmes that create, store, and automatically fill in one-of-a-kind,
            difficult-to-guess passwords, may also notify you when a password has been hacked. In relation to password
            managers...</p>
          <h4>Configure two-factor authentication</h4>
          <p>Before being granted access to an account, a person must prove their identity in two separate ways using
            two-factor authentication. By turning on two-factor authentication, you stop hackers from entering if they
            just have access to your login and password.</p>
          <p>In the past, two-factor authentication required a text message with a numerical number to enter that was
            sent to your phone. Knowing the code indicates that you have your phone, which gives the app or website
            confidence that you are who you say you are.</p>
          <h4>What is the mechanism of the password generator?</h4>
          <p>Based on the criteria you specify, the Body-calculator password generator generates random passwords. The
            parameters include the length of the password, whether it should be simple to pronounce or read, and if it
            should contain capital letters, lowercase letters, numerals, and symbols.</p>
          <p>The password you generate is verified against the zxcvbn library, a standard in assessing password
            security, to evaluate how strong it is after being produced based on the user's information.</p>
          <h4>Can someone crack a secure password?</h4>
          <p>A strong password can theoretically be cracked, but it would take an incomprehensibly long time to do so.
            According to a recent study, it would take just 25 seconds to crack a 12-character password that contained
            just digits. In contrast, it would take 34,000 years to crack a password with 12 characters and a mixture of
            numbers, capital and lowercase letters, and symbols. Therefore, a secure password is impenetrable during
            your lifetime. The infographic has further information.</p>
          <h4>With a password manager, how do you manage your passwords?</h4>
          <p>The Body-calculator password organizer makes managing passwords easy. Every time you save a password to
            your Body-calculator account, it is kept encrypted in your password vault, which is only accessible by you.
            You can easily manage your passwords by going to your password vault and looking for the necessary
            credentials. Additionally, while using your computer, smartphone, or tablet, you can easily save and have
            passwords autofilled thanks to the Body-calculator browser extension and app.</p>
          <h4>Password generator security</h4>
          <p>Yes. Based on the criteria you specify, the password generator generates secure, random passwords. In order
            to assess how secure a password is, it is checked against the industry-standard zxcvbn library.</p>
          <p>Last but not least, the password you create is automatically encrypted and saved in your password vault so
            that only you can access and read it.</p>
          <h4>Can I make a user name using the password generator?</h4>
          <p>To make a safe username, you should use the username generating tool. It guarantees that you will receive a
            username that is entirely random and made up of capital and lowercase characters.</p>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
<ngx-json-ld [json]="schema"></ngx-json-ld>
