<nb-layout>
  <nb-layout-column>
    <div class="container">
      <div class="col-12">
        <app-breadcrumbs
          [infoAndUrl]="{categorieUrl: 'math/.', nameCategorie: 'Math', namePage:'Random Number Generator', itemUrl: 'math/random-number-generator/.'}">
        </app-breadcrumbs>
        <h1 class="text-secondary text-center pb-3">Random Number Generator RNG</h1>
        <app-banner *ngIf="envirement"></app-banner>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header text-white text-center font-weight-bold">Random Number Generator</div>
            <div class="card-body example-items-col">
              <form [formGroup]="calculeFormRandomNum" (ngSubmit)="CalculateRandomNumber(target)">
                <div *ngIf="error" class="alert alert-danger mx-auto text-center" role="alert">
                  <span>
                    {{error}}
                  </span>
                </div>
                <div class="mb-4">
                  <label for="LowerLimit">Lower Limit</label>
                  <input id="LowerLimit" class="form-control" type="number" nbInput fullWidth status="basic"
                    shape="semi-round" placeholder="Lower Limit" formControlName="lowerLimit">
                  <small class="text-danger" *ngIf="submitted && formRandomNumber.lowerLimit.errors?.required">Lower
                    Limit is
                    required.
                    !</small>
                </div>
                <div class="my-4">
                  <label for="UpperLimit">Upper Limit</label>
                  <input id="UpperLimit" class="form-control" type="number" nbInput fullWidth status="basic"
                    shape="semi-round" placeholder="Upper Limit" formControlName="upperLimit">
                  <small class="text-danger" *ngIf="submitted && formRandomNumber.upperLimit.errors?.required">Upper
                    Limit is
                    required.
                    !</small>
                </div>
                <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-banner></app-banner>
          <span #target style="position: relative; top: -350px"></span>
        </div>
        <div class="col-md-6 offset-md-3 my-auto  my-3 py-2 border-shadow bg-white" *ngIf="generatedNumber">
          <!-- <img [ngClass]="{'showImg' : generatedNumber != null }" src="../../../../assets/images/random-genrator.svg"
            width="100%" height="61%" alt="Random Number Generator"> -->
          <div class="border-shadow bg-white">
            <p class="text-secondary text-center font-weight-bold">Result of Random Number Generator</p>
            <p class="text-center font-weight-bold" style="color: var(--primary);">{{generatedNumber}} </p>
          </div>
        </div>
      </div>
      <!-------------------------------------------------------------------------------------------------------------
        ------------------------------ second randum number generateur  ------------------------------------------
      ----------------------------------------------------------------------------------------------------------------->
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header text-white text-center font-weight-bold">Comprehensive Version</div>
            <div class="card-body example-items-col">
              <form [formGroup]="calculeFormRandomN" (ngSubmit)="CalculateRandomNumberComprehensive(target2)">
                <div *ngIf="errorSecondGnerator" class="alert alert-danger mx-auto text-center" role="alert">
                  <span>
                    {{errorSecondGnerator}}
                  </span>
                </div>
                <div class="mb-4">
                  <label for="LowerLim">Lower Limit</label>
                  <input id="LowerLim" class="form-control" type="number" nbInput fullWidth status="basic"
                    shape="semi-round" placeholder="Lower Limit" formControlName="lowerLimit">
                  <small class="text-danger" *ngIf="submittedFormTwo && formRandomN.lowerLimit.errors?.required">Lower
                    Limit is
                    required.
                    !</small>
                </div>
                <div class="my-4">
                  <label for="UpperLim">Upper Limit</label>
                  <input id="UpperLim" class="form-control" type="number" nbInput fullWidth status="basic"
                    shape="semi-round" placeholder="Upper Limit" formControlName="upperLimit">
                  <small class="text-danger" *ngIf="submittedFormTwo && formRandomN.upperLimit.errors?.required">Upper
                    Limit is
                    required.
                    !</small>
                </div>
                <div class="my-4">
                  <label for="numbersGenerat">Number of numbers generat</label>
                  <input id="numbersGenerat" class="form-control" type="number" nbInput fullWidth status="basic"
                    shape="semi-round" placeholder="Numbre of numbers generat" formControlName="genreteNumbers">
                  <small class="text-danger"
                    *ngIf="submittedFormTwo && formRandomN.genreteNumbers.errors?.required">Upper
                    Limit is
                    required.
                    !</small>
                </div>
                <div *ngIf="formRandomN.genreteNumbers.value > 1">
                  <div class="radio d-flex d-flex justify-content-between border rounded border-shadow mx-5 p-2 mb-4">
                    <label for="Allow">Allow duplication in results? :</label>
                    <div class="form-check form-check-inline">
                      <input id="yes" class="form-check-input" type="radio" name="duplication"
                        formControlName="duplication" value="yes">
                      <label class="form-check-label ml-2" for="yes"> Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input id="no" class="form-check-input" type="radio" name="duplication"
                        formControlName="duplication" value="no">
                      <label class="form-check-label ml-2" for="no"> No</label>
                    </div>
                  </div>

                  <div class="radio d-flex d-flex justify-content-between border rounded border-shadow mx-5 p-2 mb-4">
                    <label for="Sort the results?">Sort the results?</label>
                    <div class="form-check form-check-inline">
                      <input id="Ascend" class="form-check-input" type="radio" name="sortNumber" value="ascend"
                        formControlName="sortNumber">
                      <label class="form-check-label ml-2" for="Ascend">Ascend</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input id="Descend" class="form-check-input" type="radio" name="sortNumber" value="descend"
                        formControlName="sortNumber">
                      <label class="form-check-label ml-2" for="Descend">Descend</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input id="radio" class="form-check-input" type="radio" name="sortNumber" value="No"
                        formControlName="sortNumber">
                      <label class="form-check-label ml-2" for="radio">No</label>
                    </div>
                  </div>
                  <div class="radio d-flex d-flex justify-content-between border rounded border-shadow mx-5 p-2 mb-4">
                    <label for="Sort results?">Type of result to generate?</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="typeNumber" id="typeResult"
                        formControlName="typeNumber" value="integer">
                      <label class="form-check-label ml-2" for="typeResult">Integer</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input id="Decimal" class="form-check-input" type="radio" name="typeNumber" id="typeResult"
                        formControlName="typeNumber" value="decimal">
                      <label class="form-check-label ml-2" for="Decimal">Decimal</label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-12">
          <app-banner></app-banner>
          <span #target2 style="position: relative; top: -350px"></span>
        </div>
        <div class="col-md-6 offset-md-3 my-auto  my-3 py-2 border-shadow bg-white" *ngIf="generateNumbers.length">
          <p class="text-secondary text-center font-weight-bold">Result of Comprehensive Version</p>
          <div *ngFor="let e of generateNumbers">
            <p class="text-center font-weight-bold" style="color: var(--primary);">{{e}}</p>
          </div>
          <p class="text-center font-weight-bold" style="color: var(--primary);" *ngIf="generatedN != null">
            {{generatedN}} </p>
        </div>
      </div>
      <app-other-calcultor-math eleminateCalculator="rng"></app-other-calcultor-math>
      <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">
        Learn about Random Number Generator RNG
      </p>

      <div class="row border shadow bg-white my-4">
        <div class="col-md-12 mx-2 my-4">
          <h2>Random number generator RNG</h2>
          <p>Use our <a href="https://en.wikipedia.org/wiki/Random_number_generation" target="_blank"
              rel="noopener noreferrer">random number generator</a> website to get a really unexpected and
            cryptographically secure number.
            It creates random numbers that can be utilized in situations requiring impartial randomization, such as when
            drawing numbers for a lottery, raffle, giveaway, or sweepstake.
            An RNG draw may also be used to choose who goes first in a game, among other things.
          </p>
          <h2>How to pick a random number between two numbers?</h2>
          <p>
            You may use this random number generator to get a number that is genuinely random between any two values.
            To acquire a random number between 1 and 10, for example, put 1 in the first field and 10 in the second,
            then click "Get Random Number." Our randomizer will select a number between 1 and 10 at random.
            To produce a random number between 1 and 100, repeat the process, but enter 100 in the picker's second
            field.
          </p>
          <p>
            The range for a conventional six-sided dice should be 1 to 6 to imitate a dice roll.
            Set the range between 1 and 2 to simulate a coin flip, and the random selector will choose a number between
            1 and 2.
          </p>
          <p>
            To create many unique numbers (no duplicates), simply pick how many you require from the drop-down menu
            below.
            Selecting 6 numbers from a potential set of 1 to 49, for example, would be equal to replicating a lottery
            draw for a game with these characteristics.
          </p>
          <h2>Where does a random number generator come in handy?</h2>
          <p>
            You may be holding a charity lottery, a giveaway, a raffle, sweepstakes, or another type of contest and need
            to select a winner - this generator is for you! It is fully neutral and outside of your control, so you can
            reassure your audience of the fairness of the draw, which may not be the case if you use traditional
            techniques such as rolling a dice.
          </p>
          <p>
            If you need to choose numerous participants instead, simply enter the number of unique numbers you want to
            be created by our random number generator and you're done. To keep the excitement going, it is typically
            better to draw the winners one after the other (discarding repeat draws as you go).
          </p>
          <p>
            A random number generator may also be used to determine who goes first in a game or activity, such as board
            games, sports games, and sports contests. The same holds true if you need to determine the order of
            involvement for many players/participants.
            Randomness is also important when selecting a team or randomizing a list of members.
          </p>
          <h2>Generating a random number</h2>
          <p>
            There is some debate regarding what exactly "random" means, but its distinguishing trait is
            unpredictability. We cannot discuss the unpredictability of a single number since that number is simply
            that, but we may discuss the unpredictability of a series of numbers (number sequence). If a number series
            is random, you should not be able to anticipate the next number in the sequence while knowing any portion of
            the sequence up to that point.
          </p>
          <p>Rolling fair dice, spinning a well-balanced roulette wheel, pulling balls from a sphere, and the basic coin
            flip are all examples of this. No matter how many dice rolls, coin flips, roulette spins, or lottery
            drawings you watch, your odds of correctly guessing the next number in the sequence do not improve. For
            those interested in physics, the Browning motion of gas or fluid particles is a famous example of random
            movement.</p>
          <p>Given the foregoing and the fact that computers are totally deterministic, which means that their output is
            entirely influenced by their input, one may conclude that we cannot produce a random number using a
            computer. However, one will only be partially true because a dice roll or a coin flip is likewise
            deterministic if the state of the system is known.</p>
          <p>Physical processes provide unpredictability in our number generator - our server collects ambient noise
            from device drivers and other sources into an entropy pool, from which random numbers are generated.</p>
          <h2>Generate An Instant Random Number Between Two Numbers Of Your Choice.</h2>
          <p>Trying to come up with a number but having difficulty? Showing probability in a classroom? Do you need to
            draw a number at random from a hat for a raffle? You've arrived to the correct location! Our random number
            generator will provide you with exactly that—a random number.</p>
          <p>A random number is a number picked at random from a predetermined range. The allure of random numbers is
            that you never know what number you'll get. Even if you select 2 the first time, 4 the second time, and 6
            the third time, any perceived pattern is completely random! It may be 19 or 100 the fourth time you select.
            Everything is up to chance.</p>
          <h2>Why You Should Use a Random Number Generator?</h2>
          <p>If you try to generate a list of random numbers on your own, you will most likely discover a pattern. The
            human mind is conditioned, even subconsciously, to seek out and produce things in a pattern or sequence.
            Unfortunately, this may have an adverse effect on any math tasks you are working on or activities you have
            planned.</p>
          <p>We've designed this handy random number generator that can choose a number for you to ensure that it
            remains up to chance and that you have no control over this choice. It's easy to use. Simply enter two
            integers, and the random number generator will generate an integer between them.</p>
          <h2>How To Use a Random Number Generator?</h2>
          <p>The random number generator can identify both whole and negative values. It doesn't understand numbers,
            fractions, or equations. If you enter a % symbol, it will not be carried over to the random number box.</p>
          <ul>
            <li>Begin by selecting a number in the Lower Limit box of your choosing.</li>
            <li>Then, in the Upper Limit box, enter another number of your choosing.</li>
            <li>Once you have your two digits, press the Enter key.</li>
            <li>Your chosen number will be shown in the Random Number box.</li>
            <li>Every time, hit Enter to get a new number.</li>
            <li>Select Clear to reset your Lower Limit and Upper Limit figures.</li>
          </ul>
          <h2>How Do Computers Generate Random Numbers?</h2>
          <p>For millennia, people have used random numbers, therefore the notion is not new. From the lottery in
            ancient Babylon to the roulette tables in Monte Carlo to the dice games in Las Vegas, the purpose is to
            leave the outcome to chance.</p>
          <p>Aside from gaming, randomness has several applications in science, statistics, encryption, and other
            fields. However, utilizing dice, coins, or other random media as a random device has limits.</p>
          <p>Because of the mechanical nature of these procedures, producing huge volumes of random numbers takes a
            significant amount of time and effort. We now have more powerful tools and procedures at our disposal thanks
            to human innovation.</p>
          <h2>Methods for generating random numbers</h2>
          <p>Consider the two main approaches for generating random numbers. The first technique is based on a physical
            process and harvests the source of randomness from a physically supposed to be a random phenomenon.</p>
          <p>A similar occurrence occurs outside of the computer. It is measured and corrected for any
            measurement-related biases. Radioactive decay, the photoelectric effect, cosmic background radiation,
            atmospheric noise (which we shall employ in this essay), and other phenomena are examples.</p>
          <p>The hardware component is composed of a device that transforms energy from one form to another (for
            example, radiation to an electrical signal), an amplifier, and an analog-to-digital converter to convert the
            output into a digital number.</p>
          <h2>True random number generators</h2>
          <p>A pseudo-random number generator (PRNG) is a finite state machine with a starting value known as the seed.
            A transaction function computes the next internal state for each request to draw a number at random, and an
            output function generates the actual number depending on the state. A PRNG generates a periodic series of
            values based solely on the original seed. A linear congruential generator, such as PM88, is one example.
            Knowing even a brief series of produced numbers allows you to figure out the seed that was used and hence
            the following value.</p>
          <p>A cryptographic pseudo-random number generator (CSPRNG) is a PRNG in the sense that its internal state may
            be predicted. However, if the generator was seeded with enough entropy and the algorithms have the necessary
            features, such generators will not soon expose substantial quantities of their internal state, implying that
            a massive quantity of output is required before you can launch a successful assault on them. This form of
            randomizer is appropriate if the number drawing generator will be employed in a high-stakes circumstance.
          </p>
          <h2>Pseudorandom Numbers</h2>
          <p>The second way of creating random numbers, as an alternative to "real" random numbers, includes computer
            procedures that can provide seemingly random outcomes.</p>
          <p>Why does it appear random? Because the final outcomes are entirely governed by an initial value known as
            the seed value or key. As a result, if you know the key value and how the algorithm works, you can replicate
            these seemingly random outcomes.</p>
          <p>
            Random number generators of this sort are usually referred to as Pseudorandom number generators since they
            produce <a
              href="https://en.wikipedia.org/wiki/Pseudorandomness#:~:text=A%20pseudorandom%20sequence%20of%20numbers,completely%20deterministic%20and%20repeatable%20process."
              target="_blank" rel="noopener noreferrer">Pseudorandom Numbers.</a>
          </p>
          <p>
            Even while this sort of generator does not normally take data from sources of naturally occurring
            randomness, such gathering of keys is conceivable when necessary.
          </p>
          <p>
            Let's look at the differences between true random number generators (TRNGs) and pseudorandom number
            generators (PRNGs).
            TRNGs are slower than PRNGs. They are handy when you need to recreate a sequence of random occurrences
            because to their predictable nature. This is quite useful in code testing, for example.
          </p>
          <p>
            TRNGs, on the other hand, are not periodic and perform better in security-sensitive applications like
            encryption.
          </p>
          <p>
            A period is the number of iterations a PRNG takes before it begins to replicate itself. All else being
            equal, a PRNG with a long time will need more computer resources to forecast and crack.
          </p>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
<ngx-json-ld [json]="schema"></ngx-json-ld>
