<nb-layout>
  <nb-layout-column>
    <section>
      <div class="container">
        <app-breadcrumbs
          [infoAndUrl]="{categorieUrl: 'health/.', nameCategorie: 'Fitness &amp; Health', namePage:'Body Fat Percentage Calculator'}">
        </app-breadcrumbs>
        <div class="col-12">
          <h1 class="text-secondary text-center">Lean Body Mass Calculator</h1>
          <div class="flexMobile">
            <!-- <app-banner *ngIf="envirement"></app-banner> -->
          </div>
          <p class="hero-subtitle col-md-9 col-12 mx-auto">
            The Lean Body Mass Calculator computes a person's estimated lean body mass (LBM) based on body weight,
            height, gender, and age. For comparison purposes, the calculator provides the results of multiple formulas.
          </p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 mt-4">
            <div class="card">
              <div class="card-header text-white text-center font-weight-bold">Lean Body Mass Calculator</div>
              <div class="card-body example-items-col">
                <div *ngIf="error" class="alert alert-danger w-75 mx-auto text-center" role="alert">
                  <span>
                    {{error}}
                  </span>
                </div>
                <form [formGroup]="calculeLbm" (ngSubmit)="claculteLbm(target)">
                  <label for="Gender">Gender</label>
                  <div class="mb-3">
                    <nb-select id="Gender" formControlName="gender" placeholder="gender" selected="female"
                      status="basic" shape="semi-round" fullWidth (selectedChange)="checkedGender($event)" required>
                      <nb-option value="male">Male</nb-option>
                      <nb-option value="female">Female</nb-option>
                    </nb-select>
                    <!-- <small class="error mt-1" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                        Gender is required !
                      </small> -->
                  </div>
                  <!-- nb-form-field -->
                  <label for="age">Age</label>
                  <div class="pb-3">
                    <input id="age" type="number" placeholder="Age" formControlName="age" class="form-control">

                    <small class="text-danger" *ngIf="submitted && formLbm.age.errors?.required">Age is required.
                      !</small>
                    <small class="text-danger" *ngIf="submitted && formLbm.age.errors?.min">Please provide an age
                      between 5
                      and
                      100.
                      !</small>
                    <small class="text-danger" *ngIf="submitted && formLbm.age.errors?.max">Please provide an age
                      between 5
                      and
                      100.
                      !</small>
                  </div>
                  <label for="Height">Height :</label>
                  <strong *ngIf="selectedHeight == 'cm'"> cm</strong>
                  <strong *ngIf="selectedHeight == 'm'"> Metres</strong>
                  <strong *ngIf="selectedHeight == 'in'"> Inches</strong>
                  <strong *ngIf="selectedHeight == 'ft'"> Feet</strong>
                  <div class="mb-3 nb-form-field-max-width">
                    <div class="row">
                      <div class="col-6">
                        <input id="Height" class="form-control" type="number" formControlName="height" placeholder="cm"
                          [(ngModel)]="modelsBmi.height" IsDecimal>
                      </div>
                      <div class="col-6 pl-0">
                        <label for="selectHeight"></label>
                        <nb-select id="selectHeight" class="nb-select-min-width" placeholder="cm" selected="cm"
                          status="basic" shape="semi-round" fullWidth (selectedChange)="heightSelect($event)" required>
                          <nb-option value="cm">cm</nb-option>
                          <nb-option value="m">Metres (m)</nb-option>
                          <nb-option value="in">Inches (in)</nb-option>
                          <nb-option value="ft">Feet (ft)</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <small class="error mt-1" *ngIf="submitted && formLbm.height.errors?.required">
                      Height is required !
                    </small>
                  </div>
                  <!-- nb-form-field -->
                  <label for="Weight">Weight :</label>
                  <strong *ngIf="selectedWeight == 'kg'"> kg</strong>
                  <strong *ngIf="selectedWeight == 'dag'"> Decagrams</strong>
                  <strong *ngIf="selectedWeight == 'lb'"> Pounds</strong>
                  <strong *ngIf="selectedWeight == 'oz'"> Ounces</strong>
                  <!-- nb-form-field -->
                  <div class="mb-3">
                    <div class="row">
                      <div class="col-6">
                        <input id="Weight" type="number" class="form-control" formControlName="weight" placeholder="kg"
                          [(ngModel)]="modelsBmi.weight" IsDecimal>
                      </div>
                      <div class="col-6 pl-0">
                        <label for="selectWeight"></label>
                        <nb-select id="selectWeight" class="nb-select-min-width" placeholder="kg" selected="kg"
                          status="basic" shape="semi-round" fullWidth (selectedChange)="weightSelect($event)" required>
                          <nb-option value="kg">kg</nb-option>
                          <nb-option value="dag">Decagrams (dag)</nb-option>
                          <nb-option value="lb">Pounds (lb)</nb-option>
                          <nb-option value="oz">Ounces (oz)</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <small class="error mt-1" *ngIf="submitted && formLbm.weight.errors?.required">
                      Weight is required !
                    </small>
                  </div>
                  <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
                </form>
              </div>
            </div>
            <div class="col-12">
              <!-- <app-banner *ngIf="envirement"></app-banner> -->
            </div>
            <div #target></div>
            <table class="table bg-white msg" *ngIf="switchAdulte">
              <thead class="bg-secondary">
                <tr>
                  <th scope="col">Formula</th>
                  <th scope="col">Lean Body Mass</th>
                  <th scope="col">Body fat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Boer</td>
                  <td>
                    {{boerLbm | number}} kg ({{boerBfPer | number}}%)
                  </td>
                  <td>
                    {{boerBf | number}} %
                  </td>
                </tr>
                <tr>
                  <td scope="row">James</td>
                  <td>{{jamesLbm | number}} kg ({{jamesBfPer | number}}%)</td>
                  <td>{{jamesBf| number}} %</td>
                </tr>
                <tr>
                  <td scope="row">Hume</td>
                  <td>{{humeLbm | number}} kg ({{humeBfPer | number}}%)</td>
                  <td>{{humeBf| number}} %</td>
                </tr>
              </tbody>
            </table>
            <table class="table bg-white msg" *ngIf="switchChild">
              <thead class="bg-secondary">
                <tr>
                  <th scope="col">Formula</th>
                  <th scope="col">Lean Body Mass</th>
                  <th scope="col">Body fat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Peters (for Children)</td>
                  <td>
                    {{ childLbm | number}} kg ({{childBfPer | number}}%)
                  </td>
                  <td>
                    {{childBf | number}} %
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 mt-3">
            <app-other-calcultor-health eleminateCalculator="bfp"></app-other-calcultor-health>
          </div>
        </div>

        <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">Learn more about
          Lean Body Mass Calculator</p>

        <div class="row border shadow bg-white my-4">
          <div class="col-md-12 mx-2 my-4">
            <h2 class="text-secondary">Problems with calculation</h2>
            <p>If you view BMI and body fat measurements as the only tools to keep track of your progress, you might not
              be
              obsessed with the results.</p>
            <p>Also, compelled by the desire to lower a specific number, you could be motivated to improve your overall
              health by feeding your body healthy foods and incorporating some <a rel="noopener"
                href="https://en.wikipedia.org/wiki/Fitness" target="_blank" rel="noopener noreferrer">fitness</a> into
              your routine.</p>
            <p>This mentality can help to accept and understand the limitations and issues associated with BMI and body
              fat
              percentages.</p>
          </div>
        </div>

      </div>
    </section>
    <!-- <ngx-json-ld [json]="schema"></ngx-json-ld> -->
  </nb-layout-column>
</nb-layout>
