<div id="section-blog">
  <div class="py-2">
    <div class="broad"><a routerLink="/">Home / </a><a routerLink="/about">Blog</a></div>
  </div>
  <section id="formation-section1" #target class="position-relative">
    <div class="container pt-5">
      <div class="text-center mb-5 pb-3 mt-4 pt-5">
        <p class="text-uppercase mb-0 pres">Body mass index</p>
        <h3 class="text-secondary">Les cours online</h3>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center about-card">
          <img class="mb-4" src="../../../assets/images/pexels-ketut-subiyanto-4474052.jpg" width="60%"
            alt="hands icon">
          <h6 class="mb-4">Formations salarié sauveteur secouriste du stratégie </h6>
          <p class="px-5 py-2"> Sauveteurs secouriste du travail (SST) (ssiap1, ssiap2 et ssiap3).</p>
        </div>
        <div class="col-12 col-md-6 text-center about-card">
          <img class="mb-4" src="../../../assets/images/undraw.svg" width="60%" alt="fire fighter  icon">
          <h6 class="mb-4">Formations agent de sécurité incendie </h6>
          <p class="px-5 py-2">Contrôle du matériel et Assurance
            du système d'alarme et des extincteurs en cas d'incendie...</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center about-card">
          <img class="mb-4" src="../../../assets/images/pexels-ketut-subiyanto-4474052.jpg" width="60%"
            alt="hands icon">
          <h6 class="mb-4">Formations salarié sauveteur secouriste du stratégie </h6>
          <p class="px-5 py-2"> Sauveteurs secouriste du travail (SST) (ssiap1, ssiap2 et ssiap3).</p>
        </div>
        <div class="col-12 col-md-6 text-center about-card">
          <img class="mb-4" src="../../../assets/images/undraw.svg" width="60%" alt="fire fighter  icon">
          <h6 class="mb-4">Formations agent de sécurité incendie </h6>
          <p class="px-5 py-2">Contrôle du matériel et Assurance
            du système d'alarme et des extincteurs en cas d'incendie...</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center about-card">
          <img class="mb-4" src="../../../assets/images/pexels-ketut-subiyanto-4474052.jpg" width="60%"
            alt="hands icon">
          <h6 class="mb-4">Formations salarié sauveteur secouriste du stratégie </h6>
          <p class="px-5 py-2"> Sauveteurs secouriste du travail (SST) (ssiap1, ssiap2 et ssiap3).</p>
        </div>
        <div class="col-12 col-md-6 text-center about-card">
          <img class="mb-4" src="../../../assets/images/undraw.svg" width="60%" alt="fire fighter  icon">
          <h6 class="mb-4">Formations agent de sécurité incendie </h6>
          <p class="px-5 py-2">Contrôle du matériel et Assurance
            du système d'alarme et des extincteurs en cas d'incendie...</p>
        </div>
      </div>
    </div>
  </section>
</div>
