<nb-layout>
  <nb-layout-header class="shadow-sm">
    <app-menu class="w-100"></app-menu>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
    <!-- <div class="fixed"> -->

    <div class="cookies" id="cookies" style="display: none;">
      <div class="container">
        <div class="row ">
          <div class="col-md-10 col-10 pr-0">
              <div class="text-white text-center my-3">By clicking “Accept cookies”, you agree Body-calculator.com can store
                cookies on your device
              </div>
              <div class="d-flex justify-content-center mb-2">
                <button onclick="setCoookie()" class="btn btn-outline-success">Accept cookies</button>
              </div>
          </div>
          <div class="col-md-1 col-2 pr-0">
            <button onclick="setCoookie()" type="button" class="close m-3" aria-label="Close">
              <span aria-hidden="true" class="text-white">&times;</span>
            </button>
          </div>
        </div>


      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <app-footer class="w-100"></app-footer>
  </nb-layout-footer>
</nb-layout>
