<div id="section-about">
  <section id="formation-section1" #target class="position-relative">
    <div class="pb-5">
      <h1 class="text-secondary text-center">Body calculator</h1>
      <app-calculator-scientifique></app-calculator-scientifique>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-4 text-center about-card">
          <a routerLink="/health/bmi-calculator/." class="font-weight-bold" style="font-size: 30px; line-height: 40px;">
            <div style="width: 80%;" class="mx-auto">
              <ng-lottie [options]="bmi" height="220px"></ng-lottie>
            </div>
            Body Mass Index BMI Calculator
          </a>
        </div>

        <div class="col-12 col-md-4 text-center about-card">
          <a routerLink="/health/body-fat-percentage-calculator/." class="font-weight-bold" style="font-size: 30px; line-height: 40px;">
            <ng-lottie [options]="bfp" height="220px"></ng-lottie>
            Body Fat Percentage BFP Calculator
          </a>
        </div>

        <div class="col-12 col-md-4 text-center about-card">
          <a routerLink="/health/ideal-weight-calculator/." class="font-weight-bold" style="font-size: 30px; line-height: 40px;">
            <div style="width: 45%;" class="mx-auto">
              <ng-lottie [options]="iwc" height="220px"></ng-lottie>
            </div>
            Ideal Weight Calculator
          </a>
        </div>

      </div>

      <div class="row align-items-center">
        <div class="col-12 col-md-4 text-center about-card">
          <a routerLink="/health/body-shape-calculator/." class="font-weight-bold" style="font-size: 30px; line-height: 40px;">
            <div style="width: 60%;" class="mx-auto">
              <ng-lottie height="220px" [options]="bsc"></ng-lottie>
            </div>
            Body Shape Calculator
          </a>
        </div>

        <div class="col-12 col-md-4 mx-auto text-center about-card">
          <a routerLink="/health/bmr-calculator/." class="font-weight-bold" style="font-size: 30px; line-height: 40px;">
            <div style="width: 80%;" class="mx-auto">
              <ng-lottie height="220px" [options]="bmr"></ng-lottie>
            </div>
            Basal Metabolic Rate BMR Calculator
          </a>
        </div>

        <div class="col-12 col-md-4 mx-auto text-center about-card">
          <a routerLink="/health/healthy-weight-calculator/." class="font-weight-bold" style="font-size: 30px; line-height: 40px;">
            <div style="width: 50%;" class="mx-auto">
              <ng-lottie height="220px" [options]="hwc"></ng-lottie>
            </div>
            Healthy Weight Calculator
          </a>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-md-4 mx-auto text-center about-card">
          <a routerLink="/calculators/age-calculator/." class="font-weight-bold" style="font-size: 30px; line-height: 40px;">
            <div style="width: 70%;" class="mx-auto">
              <ng-lottie height="220px" [options]="calendre"></ng-lottie>
            </div>
            Age Calculator
          </a>
        </div>
        <div class="col-12 col-md-4 mx-auto text-center about-card">
          <a routerLink="/calculators/date-calculator/." class="font-weight-bold" style="font-size: 30px; line-height: 40px;">
            <div style="width: 60%;" class="mx-auto">
              <ng-lottie height="220px" [options]="date"></ng-lottie>
            </div>
            Date Calculator
          </a>
        </div>
        <!-- <div class="col-12 col-md-4 mx-auto text-center about-card">
          <a routerLink="/calculators/time-calculator/.">
            <div style="width: 80%;" class="mx-auto">
              <ng-lottie height="220px" [options]="time"></ng-lottie>
            </div>
            <h3 class="mb-4">Time calculator</h3>
          </a>
        </div> -->
      </div>
    </div>
  </section>
</div>
