<section class="my-2">
  <div id="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <span itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
      <a style="color: #2F598E" href="/" itemprop="item">
        <span itemprop="name">Home</span>
      </a>
      <meta itemprop="position" content="1">
    </span>
    /
    <span itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
      <a style="color: #2F598E" href="/{{infoAndUrl.categorieUrl}}" itemprop="item">
        <span itemprop="name">{{infoAndUrl.nameCategorie}}</span>
      </a>
      <meta itemprop="position" content="2">
    </span>
    /
    <span itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
      <span itemprop="item">
        <span itemprop="name">{{infoAndUrl.namePage}}</span>
      </span>
      <meta itemprop="position" content="3">
    </span>
  </div>
</section>
