<nb-layout>
  <nb-layout-column>
    <div class="container">
      <app-breadcrumbs
        [infoAndUrl]="{categorieUrl: 'health/', nameCategorie: 'Fitness &amp; Health', namePage:'Body Shape Calculator', itemUrl: 'health/body-shape-calculator/'}">
      </app-breadcrumbs>
      <div class="col-12">
        <h1 class="text-secondary text-center pb-3 px-3">Bra Size Calculator</h1>
        <div class="flexMobile">
          <app-banner *ngIf="envirement"></app-banner>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h2 class="text-white text-center font-weight-bold">Bra Size Calculator</h2>
            </div>
            <div class="card-body example-items-col">
              <div class="d-flex justify-content-center img-shape">
                <img height="240px" width="260px" src="assets/images/Underband.png" alt="body-shape-calculator">
              </div>
              <div *ngIf="error" class="alert alert-danger mx-auto mt-2 text-center" role="alert">
                <span>
                  {{error}}
                </span>
              </div>
              <form [formGroup]="calculteBraSize" (ngSubmit)="calculeBraSize(target)">
                <label for="Bust">Bust Size :</label>
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3 nb-form-field-max-width ">
                      <input id="Bust" type="number" formControlName="bust" class="form-control"
                        [(ngModel)]="modelsBsc.bust" placeholder="Bust" IsDecimal>
                      <small class="text-danger" *ngIf="submitted && formBsc.bust.errors?.required">Bust is required.
                        !</small>
                    </div>
                    <!-- nb-form-field -->
                    <label for="Waist-size">Band Size :</label>
                    <div class="mb-3 nb-form-field-max-width">
                      <input id="Waist-size" type="number" formControlName="band" class="form-control"
                        [(ngModel)]="modelsBsc.band" placeholder="Waist" IsDecimal>
                      <small class="text-danger" *ngIf="submitted && formBsc.band.errors?.required">Waist is required.
                        !</small>
                    </div>
                  </div>
                  <div class="col-6 d-flex align-items-center justify-content-center">
                    <div>
                      <label for="height">Unit</label>
                      <nb-select id="height" class="nb-select-min-width" selected="in" status="primary"
                        shape="semi-round" (selectedChange)="[bustSelect($event), bandSelect($event)]" required>
                        <nb-option value="cm">cm</nb-option>
                        <!-- <nb-option value="m">Metres (m)</nb-option> -->
                        <nb-option value="in">Inches (in)</nb-option>
                        <!-- <nb-option value="ft">Feet (ft)</nb-option> -->
                      </nb-select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
              </form>
            </div>
          </div>

        </div>
      </div>
      <div class="row mx-auto my-3">
        <div class="col-md-8 mx-auto border shadow bg-white" *ngIf="message">
          <p class="text-center font-weight-bold mt-5" style="font-size: 24px;">The result of your calculator with <span
              class="bmi">{{message}}</span> is :</p>
          <div class="my-3">
            <!-- <p class="text-center my-3 font-weight-bold">Body shape: <span class="bmi">{{message}}</span> </p> -->
            <p class="text-center font-weight-bold">Bra and Cup Size (US/Ca) : <span class="bmi">{{barSizeRslt}}</span>
            </p>
            <!-- <p>{{band}} and {{cup}}</p>
            <p>{{bust}} - {{band}} = {{difference}}</p> -->
            <table class="table mt-3">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Country</th>
                  <th scope="col">Band/Cup</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">US/CA</td>
                  <td>{{usa}}</td>
                </tr>
                <tr>
                  <td scope="row">UK</td>
                  <td>{{uk}}</td>
                </tr>
                <tr>
                  <td scope="row">International</td>
                  <td>{{eur}}</td>
                </tr>

                <tr>
                  <td scope="row">JP</td>
                  <td>{{jp}}</td>
                </tr>
                <tr>
                  <td scope="row">AUS/NEZ</td>
                  <td>{{aust}}</td>
                </tr>
              </tbody>
            </table>
            <!-- <table class="table mt-3">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Country</th>
                  <th scope="col">Band/Cup</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">US/UK</td>
                  <td>{{usa}}</td>
                </tr>
                <tr>
                  <td scope="row">FR</td>
                  <td>{{fr}}</td>
                </tr>
                <tr>
                  <td scope="row">ES</td>
                  <td>{{es}}</td>
                </tr>
                <tr>
                  <td scope="row">BE</td>
                  <td>{{be}}</td>
                </tr>
                <tr>
                  <td scope="row">EU</td>
                  <td>{{eu}}</td>
                </tr>
                <tr>
                  <td scope="row">IT</td>
                  <td>{{it}}</td>
                </tr>
                <tr>
                  <td scope="row">JP</td>
                  <td>{{jp}}</td>
                </tr>
                <tr>
                  <td scope="row">AUS/NEZ</td>
                  <td>{{aust}}</td>
                </tr>
              </tbody>
            </table> -->
          </div>
        </div>
        <!-- <div class="col-md-6 " *ngIf="message">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">Band/Cup</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">US/UK</td>
                <td>{{usa}}</td>
              </tr>
              <tr>
                <td scope="row">FR</td>
                <td>{{fr}}</td>
              </tr>
              <tr>
                <td scope="row">ES</td>
                <td>{{es}}</td>
              </tr>
              <tr>
                <td scope="row">BE</td>
                <td>{{be}}</td>
              </tr>
              <tr>
                <td scope="row">EU</td>
                <td>{{eu}}</td>
              </tr>
              <tr>
                <td scope="row">IT</td>
                <td>{{it}}</td>
              </tr>
              <tr>
                <td scope="row">JP</td>
                <td>{{jp}}</td>
              </tr>
              <tr>
                <td scope="row">AUS/NEZ</td>
                <td>{{aust}}</td>
              </tr>
            </tbody>
          </table>
        </div> -->
        <span #target style="position: relative; top: -350px"></span>
      </div>

      <!-- <div class="col-md-4 col-12 mx-auto">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Location</th>
              <th scope="col">USA/UK Size</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">US/CA {{internation}}</td>
              <td>{{band}}</td>
              <td>{{cup}}</td>
            </tr>
            <tr>
              <td scope="row">US/CA</td>
              <td>{{band}}</td>
              <td>{{cup}}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <!-- <span #target style="position: relative; top: -300px"></span> -->
      <app-other-calcultor-health eleminateCalculator="bsc"></app-other-calcultor-health>
      <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">Learn more about
        Bra Size Calculator</p>
      <div class="row border shadow bg-white my-4">
        <div class="col-md-12 mx-2 my-4">
          <h3 class="text-secondary"></h3>
          <p>Using the breast and band sizes, this bra size calculator calculates the appropriate bra size (frame size).
            Measure to the nearest 14 inch or 12 cm to guarantee precision. Results from this calculator are given for
            the US, the UK, the EU, France, Belgium, Spain, Australia, and New Zealand.</p>
          <p>The bust size is determined by taking a loose chest measurement over the fullest area of the breasts while
            wearing a well fitting bra and standing upright with arms at the sides.</p>
          <p>The firm, but overly-tight, circumference measured right beneath the breasts is known as the band or frame
            size.</p>
          <h4>Taking Measurements - Bra Size Calculator</h4>
          <p>bra size calculator, There should be two measurements taken. For the most accurate results, take them
            without a bra or with a non-padded bra on.</p>
          <ul>
            <li>Measure the size of your bust at its fullest point using a delicate measuring tape. Breathe in and out
              to make sure the tape is not too tight. Make a note of the measurement (if you decide to round it,
              remember to round the number up).</li>
            <li>Measure the width of your frame around the band's base, just below your bust. Verify that the measuring
              tape is not too tight and is level. Once more, avoid rounding measurements or increasing them to the next
              whole number.</li>
          </ul>
          <p>In search of a bikini bra size? Use our bikini calculator to determine which bikini style will elongate
            your figure the most.</p>
          <h5>How Can Bra Size Be Determined?</h5>
          <ol>
            <li>Take your measurements initially in accordance with the aforementioned guidelines.</li>
            <li>Take the breast measurement and subtract your frame size. Your cup size will be determined by this
              discrepancy.</li>
            <li>Compare your findings to tables of bra size. Alternately, you may use our bra size calculator.</li>
          </ol>
          <h5>Sibling Sizes</h5>
          <p>In the lingerie industry, the phrase "sister size" is relatively new yet incredibly important. Sister size
            refers to a bra size that is different from our own but has exactly the same cup size. Would you mind
            explaining how that is possible?</p>
          <p>Manufacturers don't produce separate cups for every potential combination of frame & cup since they aren't
            that kind. Instead, they create a few cups, match them with different bands, and assign sizes to bras.
            Contrary to popular belief, they prefer to go one frame size down and one cup size up instead of labelling
            identical cups with the same letter (or the other way around).</p>
          <p>You can try our bra size calculator for good results.</p>
          <h5>Ensuring The Fit Of Your Bra</h5>
          <p>It is not a guarantee that every bra will fit, even if you used our calculator to choose the right size.
            Don't ever purchase a subpar bra again by using bra size calculator!</p>
          <ul>
            <li>Put your bra on properly to start. Put on the bra and hook it while bending forward at the waist.</li>
            <li>Make sure the band is adjusted so that the back and front of the bra are equal.</li>
            <li>One finger should be the only thing that can be slipped beneath the band. You should try on a smaller
              size if it is looser.</li>
            <li>Shorten the straps once you've tightened the band.</li>
            <li>To do one last inspection, put on a form-fitting shirt over the bra and see how it appears to be hidden
              by clothing.</li>
            <li>When you tie the final hook, select a bra that is the perfect size. Your bra will eventually become
              looser, so you may use the inside hooks to adjust it later so that it fits properly.</li>
          </ul>
          <h5>Indices That Your Bra Size Is Wrong</h5>
          <p>It's typical for many women to remove their bras as soon as they enter their home. Yet why? They shouldn't
            have a bra that hurts so much, right? Unfortunately, the answer is yes in far too many instances!</p>
          <p>In actuality, a lot of women are wearing the incorrect bra size. According to studies, up to 80% of women
            are wearing the incorrect bra size. What? It seems sense that they would want to remove their bra as soon as
            possible. It's interesting to note that 70% of the 80% of women who wear poorly fitted bras do so.</p>
          <p>No matter how wonderfully crafted your bra is, it will never feel comfortable if you are wearing the wrong
            size. So what are the telltale indicators of a bad bra fit? I've developed a list of ten warning flags. So
            put on a bra, face the mirror, and go over my list while standing there.
            You can avoid this by using bra size calculator.
          </p>
          <h5>Your bust protrudes outward</h5>
          <p>according to bra size calculator, A little cleavage, as they say, "never harmed anyone." Whether you agree
            or disagree, having your bra fall out is uncomfortable and bad for your breasts. Unsupported, this
            additional "bulge" of upper breast tissue has the potential to "jiggle" when exercising. If you have a bit
            more on top, this can be more of a problem.</p>
          <p>Solution: size up a cup! Simply increasing your cup size will provide your girls with additional protection
            and support, as you want all of your breasts to be supported. When there is a seamless transition from bra
            to skin without any "bulge," you've done it correctly.</p>
          <h5>Your Cups Are Getting Bulky, Rough, or Baggy</h5>
          <p>according to bra size calculator, If you discover a bra you adore, you're probably guilty of wearing it
            repeatedly. But unlike your favourite pair of jeans, bras do not get any more comfortable with use. Your
            favorite bra might start to lose its shape as a result of all the wear. in particular bras with moulded
            cups. Consider switching out your closest buddy with a new breast pal to maintain your silhouette as smooth
            as possible (see what I did there?).</p>
          <h5>Among the cup and the breast, there is a chafe</h5>
          <p>The entire point of a bra is to keep your chin higher than your knees. This cannot be done if your breasts
            are peeking out from behind your cups. A well-fitting bra will guarantee that your breasts never slip out
            from under your clothing.</p>
          <p>There may be two issues here. Your breasts may be pushed out of the cup in all directions if it is
            excessively tight. Out the top and sides are the most frequent exits, but infrequently out the bottom. If
            so, you might want to go up one cup.
            You can read more signs according to bra size calculator.
          </p>
          <h5>Your Breast Doesn't Touch the Cup's Bottom.</h5>
          <p>When your breasts do not completely fill up the bottom of your cups, this is the exact opposite of Sign 3.
            Your cups shouldn't have any empty space at the bottom. If there is nothing right above it to support, the
            band won't help you!</p>
          <p>The bottom border of the cup must allow the breast to rest and get support, regardless of its size and
            shape. If this is how your bra fits, you might want to look at a bra with a lower cup size.
            You can avoid this using bra size calculator
          </p>
          <h5>Your Band Rides up to the Back</h5>
          <p>according to bra size calculator, For many women, this is a very frequent event. How then do we verify?
            Check your bra band as it wraps over your back while standing side on to your mirror. It ought to result in
            a straight line. The band shouldn't be higher than the underside of your breasts and should be level all the
            way around.</p>
          <p>If it's not, there's a problem. It may be as easy as having shoulder straps that are too tight, which
            causes your bra to "lift." To check if it helps, try to make them looser. Also, make sure your band isn't
            too large.</p>
          <h5>Fearful Back Bulge</h5>
          <p>Women seeking bras that "conceal back fat" frequently contact me via Live Chat. Most likely, the issue here
            is with size rather than bra type. Bulging over your bra strap is a very common issue that has a simple fix.
          </p>
          <p>Your band is probably too tight for your physique. As was previously said, your band must be snug but not
            too tight to provide the support you require. Generally speaking, there should be room for two fingers to
            glide between the band and your torso. If your current bra doesn't do this, change the band size to fit.</p>
          <h5>Your straps keep slipping down, a warning sign</h5>
          <p>Bras include straps to help support you, so when they go down, your breasts follow suit. Straps that slide
            are generally always under-tightened (is that a word?) or have stretched out or lost their flexibility.
            Every time you put your bra on, check and adjust the straps. After adjusting, if they still feel too loose,
            it's time for a new bra.</p>
          <p>Tight straps may indicate that your cup is too large. Adjust the tension on your straps so that two fingers
            may easily fit there. This is especially important for bra straps. If your cup doesn't feel "full," you
            might want to try sizing down.</p>
          <h5>Back of Your Straps Gap</h5>
          <p>While we're on the subject of straps, your bra strap should fit snugly and comfortably across your back.
            You're not getting the support you need if there are holes or it just "feels" too loose.</p>
          <p>
            Simply tightening the band to a different clasp setting might solve the issue. If it doesn't work, think
            about sizing down to a tighter fit. Additionally, keep in mind the sister size rule: down a band, up a cup!
          </p>

        </div>
      </div>
      <!-- <app-info></app-info> -->
    </div>
  </nb-layout-column>
</nb-layout>
<ngx-json-ld [json]="schema"></ngx-json-ld>
