
<?xml version="1.0" encoding="UTF-8" standalone="no"?><rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <title>Google Search Central Blog</title>
    <!-- <link>https://developers.google.com/search/blog/</link> -->
    <description>Official news for web professionals about Google Search, related products, and events.</description>
    <item>
      <title>Register for the Search Central Virtual Unconference en español 2023</title>
      <!-- <link>https://developers.google.com/search/blog/2023/01/registrate-para-search-central-unconference-espanol</link> -->
      <description>
        ¡Hola! The Search Central Virtual Unconference en español 2023 is now open for participant
        registration. All sessions will be conducted in Spanish. If you speak Spanish and are
        interested, be sure to register before February 1! Come meet the community, exchange ideas,
        and have fun together.
      </description>
      <pubDate>Thur, 12 Jan 2023 06:30:00 +0000</pubDate>
    </item>
    <item>
      <title>Thanks, 2022</title>
      <!-- <link>https://developers.google.com/search/blog/2022/12/thanks-2022</link> -->
      <description>
        You know what time it is: year in a review. With only a few days left of 2022 and with all the
        quiet in the office, we thought it would be nice to reflect on this year from Search Central's
        perspective.
      </description>
      <pubDate>Fri, 30 Dec 2022 18:00:00 +0000</pubDate>
    </item>
   
    <!-- <item>
      <title>New open source robots.txt projects</title>
      <link>https://developers.google.com/search/blog/2020/09/new-open-source-robotstxt-projects</link>
      <description>Last year we released the robots.txt parser and matcher that we use in our production systems to the open source world. Since then, we've seen people build new tools with it, contribute to the open source library (effectively improving our production systems- thanks!), and release new language versions like golang and rust, which make it easier for developers to build new tools.</description>
      <pubDate>Mon, 21 Sep 2020 13:08:22 +0000</pubDate>
    </item>
    <item>
      <title>Googlebot will soon speak HTTP/2</title>
      <link>https://developers.google.com/search/blog/2020/09/googlebot-will-soon-speak-http2</link>
      <description>Quick summary: Starting November 2020, Googlebot will start crawling some sites over HTTP/2.</description>
      <pubDate>Thu, 17 Sep 2020 11:57:08 +0000</pubDate>
    </item> -->
  </channel>
  </rss>