<nb-layout>
    <nb-layout-column class="text-center">
        <label #target class="font-weight-bold text-center">Search a calculator</label>
        <input #autoInput
          nbInput
          type="text"
          (input)="onChange()"
          (focus)="onFocus(target)"
          (keydown)="searchBox()"
          placeholder="Enter a calculator name"
          [nbAutocomplete]="auto" 
          />
          
        <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
              <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                  {{ option }}
              </nb-option>
        </nb-autocomplete>

    </nb-layout-column>
</nb-layout>