<section style="position: relative; margin-top: 85px;">
  <div class="iconn leftPosition">
    <div class="arrowMoving" id="arrow"></div>
  </div>
  <div class="iconn leftPositionTwo" >
    <div class="arrowMoving" id="arrowTwo"></div>
  </div>
  <!-- ShareThis BEGIN -->
  <p class="font-weight-bold text-center mt-3">Help us improve this app by share it with your friends</p>
  <st-inline-share-buttons [config]="inlineShareButtonsConfig"></st-inline-share-buttons>
  <!-- ShareThis END -->
  <div class="my-3 col-md-6 mx-auto">
    <app-search-box></app-search-box>
  </div>
  <p class="font-weight-bold text-center mt-3">Other calculators</p>
  <section class="row pb-4" [innerHTML]="otherCalculators">
  </section>
    <div  style="height:105px;">  
      <img loading="lazy" src="../../../assets/images/rating.svg" style="display: block;margin-left: auto;margin-right: auto;width: 250px; height: 100px;" alt="rate-our-app">
    </div>
    <div  style="padding-bottom: 20px">
        <a href="https://g.page/r/CWcEpRY1bs9YEAI/review" target="_blank">
          <button class="btn" style="display:block;  margin:auto;background-color: #0051BD;color: white;">
            Rate this application
          </button>
        </a>
    </div>
  <!-- start button go to  -->
  <a rel="noopener" [routerLink]="goToOtherPage.url" id="buttonGoTo">
    <button style="position: fixed; bottom: 0px;width: 300px;height: 40px;margin: 0 auto;left: 0;right: 0;
      bottom:10px;background-color: #0051BD; color:white; z-index: 1; font-weight:bold;font-size:15px;opacity: 0.9;"
      class="btn">
      {{goToOtherPage.name}}
    </button>
  </a>
  <!-- end button go to  -->
</section>  
