<nb-layout>
  <nb-layout-column>
    <section>
      <div class="container">
        <app-breadcrumbs
          [infoAndUrl]="{categorieUrl: 'health/', nameCategorie: 'Fitness &amp; Health', namePage:'ABSI Calculator', itemUrl: 'health/body-fat-percentage-calculator/'}">
        </app-breadcrumbs>
        <div class="col-12">
          <h1 class="text-secondary text-center">ABSI Calculator</h1>
          <div class="flexMobile">
            <app-banner *ngIf="envirement"></app-banner>
          </div>
          <p class="hero-subtitle col-md-9 col-12 mx-auto">
            Our Body Shape Index Calculator is an innovative tool that uses a combination of your height and weight to
            give you an accurate measurement of your body shape. Unlike other calculators that only rely on your weight
            or BMI, this calculator takes into account the distribution of your body fat to give you a more accurate
            picture of your body shape. It's simple to use, user-friendly and provides quick results. With this
            calculator, you can track your progress and make changes to your lifestyle to achieve your ideal body shape.
            Try it today and take the first step towards a healthier and happier you!
          </p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 mt-4">
            <div class="card">
              <div class="card-header">
                <h2 class="text-white text-center font-weight-bold">ABSI Calculator</h2>
              </div>
              <div class="card-body example-items-col">
                <div *ngIf="error" class="alert alert-danger w-75 mx-auto text-center" role="alert">
                  <span>
                    {{error}}
                  </span>
                </div>
                <form [formGroup]="calculeAbsi" (ngSubmit)="claculteAbsi(target)">
                  <div class="mb-3">
                    <label for="gender">Gender</label>
                    <nb-select id="gender" formControlName="gender" placeholder="gender" selected="female"
                      status="basic" shape="semi-round" fullWidth (selectedChange)="checkedGender($event)" required>
                      <nb-option value="male">Male</nb-option>
                      <nb-option value="female">Female</nb-option>
                    </nb-select>
                    <small class="error mt-1" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                      Gender is required !
                    </small>
                  </div>
                  <!-- nb-form-field -->
                  <label for="age">Age</label>
                  <div class="pb-3">
                    <input id="age" type="number" placeholder="Age" formControlName="age" class="form-control">
                    <!-- <small class="error mt-1" *ngIf="age.invalid && (age.dirty || age.touched)">
                          Age is required !
                        </small> -->
                    <small class="text-danger" *ngIf="submitted && formabsi.age.errors?.required">Age is required.
                      !</small>
                    <small class="text-danger" *ngIf="submitted && formabsi.age.errors?.min">Please provide an age
                      between 5
                      and
                      100.
                      !</small>
                    <small class="text-danger" *ngIf="submitted && formabsi.age.errors?.max">Please provide an age
                      between 5
                      and
                      100.
                      !</small>
                  </div>

                  <div class="mb-3 nb-form-field-max-width">
                    <div class="row">
                      <div class="col-6">
                        <label for="height">Height :</label>
                        <strong *ngIf="selectedHeight == 'cm'"> cm</strong>
                        <strong *ngIf="selectedHeight == 'm'"> Metres</strong>
                        <strong *ngIf="selectedHeight == 'in'"> Inches</strong>
                        <strong *ngIf="selectedHeight == 'ft'"> Feet</strong>
                        <input id="height" class="form-control" type="number" formControlName="height" placeholder="cm"
                          [(ngModel)]="modelsBmi.height" IsDecimal>
                      </div>
                      <div class="col-6 pl-0">
                        <label for="heightSelcet">Unit</label>
                        <nb-select id="heightSelcet" class="nb-select-min-width" placeholder="cm" selected="cm"
                          status="basic" shape="semi-round" fullWidth (selectedChange)="heightSelect($event)" required>
                          <nb-option value="cm">cm</nb-option>
                          <nb-option value="m">Metres (m)</nb-option>
                          <nb-option value="in">Inches (in)</nb-option>
                          <nb-option value="ft">Feet (ft)</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <small class="error mt-1" *ngIf="height.invalid && (height.dirty || height.touched)">
                      Height is required !
                    </small>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col-6">
                        <label for="weightSelcet">Weight :</label>
                        <strong *ngIf="selectedWeight == 'kg'"> kg</strong>
                        <strong *ngIf="selectedWeight == 'dag'"> Decagrams</strong>
                        <strong *ngIf="selectedWeight == 'lb'"> Pounds</strong>
                        <strong *ngIf="selectedWeight == 'oz'"> Ounces</strong>
                        <input id="weightSelcet" type="number" class="form-control" formControlName="weight"
                          placeholder="kg" [(ngModel)]="modelsBmi.weight" IsDecimal>
                      </div>
                      <div class="col-6 pl-0">
                        <label for="UnitKg">Unit</label>
                        <nb-select id="UnitKg" class="nb-select-min-width" placeholder="kg" selected="kg" status="basic"
                          shape="semi-round" fullWidth (selectedChange)="weightSelect($event)" required>
                          <nb-option value="kg">kg</nb-option>
                          <nb-option value="dag">Decagrams (dag)</nb-option>
                          <nb-option value="lb">Pounds (lb)</nb-option>
                          <nb-option value="oz">Ounces (oz)</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <small class="error mt-1" *ngIf="weight.invalid && (weight.dirty || weight.touched)">
                      Weight is required !
                    </small>
                  </div>
                  <div class="mb-3 nb-form-field-max-width">
                    <div class="row">
                      <div class="col-6">
                        <label for="height">waist circumference</label>
                        <strong *ngIf="selectedHeight == 'cm'"> cm</strong>
                        <strong *ngIf="selectedHeight == 'm'"> Metres</strong>
                        <strong *ngIf="selectedHeight == 'in'"> Inches</strong>
                        <strong *ngIf="selectedHeight == 'ft'"> Feet</strong>
                        <input id="height" class="form-control" type="number" formControlName="waistCircumference"
                          placeholder="cm" [(ngModel)]="modelsBmi.waistCircumference" IsDecimal>
                      </div>
                      <div class="col-6 pl-0">
                        <label for="heightSelcet">Unit</label>
                        <nb-select id="heightSelcet" class="nb-select-min-width" placeholder="cm" selected="cm"
                          status="basic" shape="semi-round" fullWidth
                          (selectedChange)="waistCircumferenceSelect($event)" required>
                          <nb-option value="cm">cm</nb-option>
                          <nb-option value="m">Metres (m)</nb-option>
                          <nb-option value="in">Inches (in)</nb-option>
                          <nb-option value="ft">Feet (ft)</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <small class="error mt-1"
                      *ngIf="waistCircumference.invalid && (waistCircumference.dirty || waistCircumference.touched)">
                      Height is required !
                    </small>
                  </div>
                  <!-- <label for="wc">waist circumference</label>
                    <div class="pb-3">
                      <input id="wc" type="number" placeholder="Waist circumference" formControlName="waistCircumference"
                        class="form-control">
                      <small class="text-danger" *ngIf="submitted && formBfp.waistCircumference.errors?.required">Waist
                        circumference is required.
                        !</small>
                    </div> -->

                  <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
                </form>
              </div>
            </div>
            <div class="col-12">
              <app-banner *ngIf="envirement"></app-banner>
              <span #target style="position: relative; top: -350px"></span>
            </div>
            <!-- <div #target></div> -->
            <div class="mt-2" *ngIf="bmi">
              <div class="border p-4 bg-white">
                <p class="text-center font-weight-bold" style="font-size: 30px;">Body Parameters</p>
                <p class="text-center">Your body fat category is: <span class="bmi">{{message}}</span></p>
                <div class="row mt-4">
                  <div class="col-md-6 col-sm-12 pl-0">
                    <p>-Age: <em>{{calculeAbsi.value.age}} Year</em></p>
                    <p>-Height: <em>{{calculeAbsi.value.height}} Cm</em></p>
                    <p>-Weight: <em>{{calculeAbsi.value.weight}} Kg</em></p>
                    <p>-Gender: <em>{{calculeAbsi.value.gender}}</em></p>
                    <p>-Body mass index: <em>{{bmi | number}} kg/m<sup>2</sup></em></p>
                  </div>
                  <div class="col-md-6 col-sm-12 p-0">
                    <!-- https://www.mytecbits.com/tools/medical/absi-calculator -->
                    <!-- National Early Warning Score (NEWS) -->
                    <p>-Body Shape Index: <em>{{absi | number}}</em></p>
                    <p>-ABSIzscore: <em>{{ABSIzscore | number}}</em></p>
                    <p *ngIf="addCataloge && checked === 'male'">-ABSI<sub>mean</sub> for {{calculeAbsi.value.age}}
                      years old Male:
                      <em>{{meanABSIMale}} </em></p>
                    <p *ngIf="addCataloge && checked === 'male'">-ABSI<sub>SD</sub> for {{calculeAbsi.value.age}} years
                      old Male:
                      <em>{{sdABSIMale}}</em></p>
                    <p *ngIf="addCataloge && checked === 'female'">-ABSI<sub>mean</sub> for {{calculeAbsi.value.age}}
                      years old Female:
                      <em>{{meanABSIFemale}} </em></p>
                    <p *ngIf="addCataloge && checked === 'female'">-ABSI<sub>SD</sub> for {{calculeAbsi.value.age}}
                      years old Female:
                      <em>{{sdABSIFemale}}</em></p>
                  </div>
                </div>
              </div>
            </div>
            <table class="table bg-white" *ngIf="addCataloge && checked === 'female'">
              <p>ABSI Mortality Hazard Levels</p>
              <p>The ABSI z score is classified into five premature mortality risk levels.</p>
              <thead class="bg-secondary">
                <tr>
                  <th scope="col">ABSI<sub>z score</sub></th>
                  <th scope="col">Mortality risk</th>
                </tr>
              </thead>
              <tbody>
                <tr [class.msg]="message === 'Very low'">
                  <!-- <td scope="row" [class.msg]="message === 'Severe thinness'">Severe thinness</td> -->
                  <td>−0.868 </td>
                  <td scope="row">Very low</td>
                </tr>
                <tr [class.msg]="message === 'Low'">
                  <td>−0.868 | -0.272 </td>
                  <td scope="row">Low</td>
                </tr>
                <tr [class.msg]="message === 'Average'">
                  <td>−0.272 | +0.229</td>
                  <td scope="row">Average</td>
                </tr>
                <tr [class.msg]="message === 'High'">
                  <td>+0.229 | 0.798</td>
                  <td scope="row">High</td>
                </tr>
                <tr [class.msg]="message === 'Very high'">
                  <td>>0.798</td>
                  <td scope="row">Very high</td>
                </tr>
              </tbody>
            </table>
            <table class="table bg-white" *ngIf="addCataloge && checked === 'male'">
              <thead class="bg-secondary">
                <tr>
                  <th scope="col">ABSI<sub>z score</sub></th>
                  <th scope="col">Mortality risk</th>
                </tr>
              </thead>
              <tbody>
                <tr [class.msg]="message === 'Very low'">
                  <!-- <td scope="row" [class.msg]="message === 'Severe thinness'">Severe thinness</td> -->
                  <td>−0.868 </td>
                  <td scope="row">Very low</td>
                </tr>
                <tr [class.msg]="message === 'Low'">
                  <td>−0.868 | -0.272 </td>
                  <td scope="row">Low</td>
                </tr>
                <tr [class.msg]="message === 'Average'">
                  <td>−0.272 | +0.229</td>
                  <td scope="row">Average</td>
                </tr>
                <tr [class.msg]="message === 'High'">
                  <td>+0.229 | 0.798</td>
                  <td scope="row">High</td>
                </tr>
                <tr [class.msg]="message === 'Very high'">
                  <td>>0.798</td>
                  <td scope="row">Very high</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 mt-3">
            <app-other-calcultor-health eleminateCalculator="bfp"></app-other-calcultor-health>
          </div>
        </div>

        <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">
          Learn more about Body Shape Index Calculator
        </p>

        <div class="row border shadow bg-white my-4">
          <div class="col-md-12 mx-2 my-4">
            <p>A Body Shape Index (ABSI) is a measure of body size and shape that takes into account an individual's
              height, weight, and waist circumference. </p>
            <p> It is similar to the <a href="https://body-calculator.com/health/bmi-calculator/">Body Mass Index
                (BMI)</a> in that it is a tool
              used to estimate an individual's overall health and risk for obesity-related health problems. </p>
            <p>However, ABSI is believed to be a more accurate measure of an individual's risk for obesity-related
              health
              problems
              because it takes into account the distribution of an individual's body fat, which may be more important
              for determining health risks than overall weight or BMI. Some research suggests that ABSI may be more
              predictive of morbidity and mortality than BMI, although more research is needed to confirm this.</p>
            <h3 class="text-secondary">The ABSI formula :</h3>
            <p>The Body Shape Index (ABSI) is a formula that takes into account the distribution of body fat and not
              just weight or Body Mass Index (BMI) to determine body shape. The formula is:</p>
            <!-- <p><strong>ABSI = (Waist Circumference / Height) * BMI^(2/3)</strong></p> -->
            <p style="background: #eff0f1;border: 1px solid #bbb; padding: 10px;margin-left: 30px;">
              <strong>ABSI =</strong> WC / BMI<sup>2/3</sup> x Height<sup>1/2</sup></p>
            <p>Where:</p>
            <!-- <p><strong>ABSI = (waist circumference / height^(1.5)) * (weight / height^2)</strong></p> -->
            <ul>
              <li class="mt-3"><strong> Waist Circumference :</strong> is measured in centimeters
                Height is measured in meters</li>
              <li class="mt-3"><strong>Height :</strong> is measured in meters</li>
              <li class="mt-3"><strong>BMI :</strong> is calculated as weight (in kilograms) divided by height (in
                meters) squared
                (kg/m<sup>2</sup>)</li>
              <p class="mt-3" style="background: #eff0f1;border: 1px solid #bbb; padding: 10px;margin-left: 30px;">
                <strong>BMI =</strong> Weight / Height<sup>2</sup></p>
            </ul>
            <p>The ABSI is a dimensionless number and it's not affected by changes in weight or height. The ABSI values
              are compared to a reference population and can be used to determine the risk of obesity-related diseases.
            </p>
            <p>It's important to note that this formula is a research-based tool and not a diagnostic tool. It's best to
              consult a healthcare professional to determine if you're at risk for any obesity-related diseases.</p>
            <h3 class="text-secondary">The ABSI z-score formula :</h3>
            <p>The ABSI z-score is a way to interpret the Body Shape Index (ABSI) values in relation to a reference
              population. The formula to calculate the ABSI z-score is:</p>
            <p style="background: #eff0f1;border: 1px solid #bbb; padding: 10px;margin-left: 30px;">
              <strong> ABSI<sub>z score</sub> =</strong> ABSI - ABSI<sub>mean</sub> / ABSI<sub>SD</sub> </p>
            <p>Where:</p>
            <ul>
              <li class="mt-3"><strong> ABSI :</strong> is the Body Shape Index calculated using the formula provided
                earlier.</li>
              <li class="mt-3"><strong>Mean ABSI :</strong> is the average ABSI value for the reference population.</li>
              <li class="mt-3"><strong>Standard Deviation ABSI :</strong> is the measure of how much the ABSI values
                vary
                from the mean in the reference population.</li>
            </ul>
            <p>The z-score represents how many standard deviations away from the mean an individual's ABSI value is. A
              positive z-score indicates that the individual's ABSI value is higher than the mean and a negative z-score
              indicates that the individual's ABSI value is lower than the mean.</p>
            <p>ABSI z-score can be used to determine if an individual is at risk of obesity-related diseases, with
              higher values indicating a greater risk. It's important to note that this formula is a research-based tool
              and not a diagnostic tool. It's best to consult a healthcare professional to determine if you're at risk
              for any obesity-related diseases.</p>

            <h3 class="text-secondary">How to Measure Waist Circumference</h3>
            <p>Measuring your waist circumference is a simple and easy way to track your progress and monitor your
              health. Here are the steps to measure your waist circumference:</p>
            <ol>
              <li class="mt-3">Find your natural waistline. This is typically located above your belly button and below
                your ribcage.
              </li>
              <li class="mt-3">Place a measuring tape around your waist at this point, making sure the tape is level and
                not too
                tight or too loose.</li>
              <li class="mt-3">Take the measurement in inches or centimeters, and make sure to breathe normally while
                measuring.</li>
              <li class="mt-3">Record the measurement and repeat the process at least twice to ensure accuracy.</li>
            </ol>
            <p>It's important to note that men's waist circumference should be measured at the level of the navel and
              women's at the level of the natural waistline, which is at the narrowest point of the torso.</p>
            <p>It's also recommended to measure your waist circumference at the same time of the day, in the same
              clothing and in the same position to get the most accurate measurement.</p>
            <h3 class="text-secondary">Pros and downsides of a Body Shape Index </h3>
            <p>Body Shape Index (ABSI) has some pros and cons that are worth considering:</p>
            <p>Pros:</p>
            <ul>
              <li class="mt-3">ABSI takes into account the distribution of body fat, rather than just weight or BMI, to
                determine body shape.</li>
              <li class="mt-3">ABSI values are compared to a reference population and can be used to determine the risk
                of obesity-related diseases.</li>
              <li class="mt-3">ABSI is a dimensionless number and is not affected by changes in weight or height.</li>
            </ul>
            <p>Downsides:</p>
            <ul>
              <li class="mt-3">ABSI is a relatively new measurement and is not yet widely used or understood by
                healthcare professionals.</li>
              <li class="mt-3">ABSI is a research-based tool and not a diagnostic tool, so it should be used in
                conjunction with other clinical parameters and lifestyle information to determine risk.</li>
              <li class="mt-3">ABSI z-score can be affected by factors such as age, sex and ethnicity, so it's
                recommended to use the z-score within the same population.</li>
            </ul>
            <p>It's important to note that ABSI is a research-based tool and not a diagnostic tool. It's best to consult
              a healthcare professional to determine if you're at risk for any obesity-related diseases and to use it in
              conjunction with other clinical parameters, as well as lifestyle and clinical examination. Additionally,
              ABSI should be used as an additional tool to other measurements such as <a
                href="https://body-calculator.com/health/bmi-calculator/">BMI</a>, waist circumference and <a
                href="https://body-calculator.com/health/body-fat-percentage-calculator/">body fat percentage</a>, to
              obtain a more comprehensive view of body composition.</p>
            <p>//////////////////////</p>
            <p>
              The ABSI z score is a measure of how an individual's ABSI compares to the general population. It is
              calculated by subtracting the mean ABSI of the population from an individual's ABSI and dividing the
              result by the standard deviation of the population's ABSI.</p>
            <p>The ABSI z score is expressed in standard deviation units and can be used to assess an individual's risk
              for obesity-related health problems. A positive ABSI z score indicates that an individual's ABSI is higher
              than the average for the population, while a negative ABSI z score indicates that it is lower.</p>
          </div>
        </div>

      </div>
    </section>
  </nb-layout-column>
</nb-layout>
<ngx-json-ld [json]="schema"></ngx-json-ld>
