<!-- <router-outlet></router-outlet> -->
<section class="container">
    <h1>Fitness and Health Calculators</h1> 
    <p>The following is a complete list of our fitness and health related calculators.</p>
    <div class="mb-5">
        <a routerLink="/health/bmi-calculator/." class="d-block mb-2">BMI Calculator</a>
        <a routerLink="/health/body-fat-percentage-calculator/." class="d-block mb-2">Body Fat Percentage Calculator</a>
        <a routerLink="/health/ideal-weight-calculator/." class="d-block mb-2">Ideal Body Weight Calculator</a>
        <a routerLink="/health/body-shape-calculator/." class="d-block mb-2">Body Shape Calculator</a>
        <a routerLink="/health/bmr-calculator/." class="d-block mb-2">Basal Metabolic Rate BMR Calculator</a>
        <a routerLink="/health/healthy-weight-calculator/." class="d-block mb-2">Healthy Weight Calculator</a>
    </div>
</section>
