<div id="menu-section">
  <!-- I add this div to show background color when toggle sidebar  -->
  <span class="sidebarBackground" (click)="toggle()" [style.width]="isClosed  ? '0' : '1000px'">
  </span>
  <menu class="menu" style="padding-inline-start: 0px !important;">
    <div class="container d-flex justify-content-between align-items-center web-header">
      <a class="d-block logo" href="/"><img width="40px" height="60px"
          src="../../../assets/images/logo/calculator.svg" alt="body-calculator"></a>
      <ul class="d-flex list pl-2 pl-xl-5 mr-5">
        <li class="list-item">
          <a routerLinkActive="active" class="linkBar" [routerLinkActiveOptions]="{ exact: true }"
          href="/">Home</a>
        </li>

        <li class="dropdown list-item" *ngFor="let details of urlDescription.arrayDetails;">
          <span class="linkBar">{{details.categorieName}}</span>
          <div class="dropdown-content">
            <div class="d-flex flex-column">
              <ng-template ngFor let-detailAndUrl [ngForOf]="details.urlAndDescriptions" let-i="index">
                <a onclick="hideDropDownMenu()" class="pb-2 colorBlack mb-2 dropDownLink" href="{{detailAndUrl.url}}"
                  routerLinkActive="linkActiveDropDown" *ngIf="i < 10">
                  {{detailAndUrl.textInHref}}
                </a>
              </ng-template>
              <a onclick="hideDropDownMenu()" class="pb-2 colorBlack" href="{{details.categorieUrl}}"
                routerLinkActive="linkActiveDropDown" *ngIf="details.urlAndDescriptions.length > 10">
                More {{details.categorieName}} calculators 
              </a>
            </div>
          </div>
        </li>

        <li class="list-item">
          <a href="https://g.page/r/CWcEpRY1bs9YEAI/review" target="_blank" class="colorBlack linkBar"
            >
            Rate us
           </a>
        </li>
        <li class="list-item">
          <a routerLinkActive="active" class="colorBlack linkBar" [routerLinkActiveOptions]="{ exact: true }"
          href="/contact/">Contact
            us</a>
        </li>

      </ul>
    </div>
    <!-- -----------------------------------------------------------------------------------------
  ------------------------------ start parte navbar in mobile ------------------------------->
      <nav class="d-md-none d-block">
        <ul class="nav-mobile">
          <!-- <li style="width: 45px;"></li>         -->
          <li >
            <a class=" logo" href="/"><img width="40px" height="60px"
              src="../../../assets/images/logo/calculator.svg" alt="body-calcultor">
            </a>
          </li>
          <li class="menu-container " style="width: 30px;"> 
            <input id="menu-toggle" type="checkbox">
            <label for="menu-toggle" class="menu-button" >  
              <svg class="icon-open" viewBox="0 0 24 24">
                  <path style="fill:var(--grayDark);" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
              </svg>
              <svg class="icon-close" viewBox="0 0 100 100">
                <path style="fill:var(--grayDark);" d="M83.288 88.13c-2.114 2.112-5.575 2.112-7.69 0L53.66 66.188c-2.113-2.112-5.572-2.112-7.686 0l-21.72 21.72c-2.114 2.113-5.572 2.113-7.687 0l-4.693-4.692c-2.114-2.114-2.114-5.573 0-7.688l21.72-21.72c2.112-2.115 2.112-5.574 0-7.687L11.87 24.4c-2.114-2.113-2.114-5.57 0-7.686l4.842-4.842c2.113-2.114 5.57-2.114 7.686 0l21.72 21.72c2.114 2.113 5.572 2.113 7.688 0l21.72-21.72c2.115-2.114 5.574-2.114 7.688 0l4.695 4.695c2.112 2.113 2.112 5.57-.002 7.686l-21.72 21.72c-2.112 2.114-2.112 5.573 0 7.686L88.13 75.6c2.112 2.11 2.112 5.572 0 7.687l-4.842 4.84z"/>
              </svg> 
            </label>      
            <ul class="menu-sidebar">
              <svg (click)="closeNavBarMobile()" style="width: 35px; float:right;" viewBox="0 0 100 100">
                <path style="fill:var(--grayDark);" d="M83.288 88.13c-2.114 2.112-5.575 2.112-7.69 0L53.66 66.188c-2.113-2.112-5.572-2.112-7.686 0l-21.72 21.72c-2.114 2.113-5.572 2.113-7.687 0l-4.693-4.692c-2.114-2.114-2.114-5.573 0-7.688l21.72-21.72c2.112-2.115 2.112-5.574 0-7.687L11.87 24.4c-2.114-2.113-2.114-5.57 0-7.686l4.842-4.842c2.113-2.114 5.57-2.114 7.686 0l21.72 21.72c2.114 2.113 5.572 2.113 7.688 0l21.72-21.72c2.115-2.114 5.574-2.114 7.688 0l4.695 4.695c2.112 2.113 2.112 5.57-.002 7.686l-21.72 21.72c-2.112 2.114-2.112 5.573 0 7.686L88.13 75.6c2.112 2.11 2.112 5.572 0 7.687l-4.842 4.84z"/>
              </svg> 
              <li class="nav-item d-flex align-items-center" (click)="closeNavBarMobile()">
                <a href="/" style="width:90%; left: 20px;">
                  <span routerLinkActive="linkActiveDropDown" [routerLinkActiveOptions]="{ exact: true }">
                    Home
                  </span>
                </a>
              </li>

              <li *ngFor="let details of urlDescription.arrayDetails;">
                <input type="checkbox" id="{{details.categorieName}}" class="submenu-toggle">        
                <label class="submenu-label pl-0 d-flex align-items-center" for="{{details.categorieName}}">
                  <span  class="active" style="font-size: 15px;">
                    {{details.categorieName}}
                  </span>
                </label>
                <div class="arrow right">&#8250;</div>           
                <ul class="menu-sub" style="z-index: 1556; overflow-y: scroll !important;">
                  <li class="menu-sub-title" style="padding-left: 0 !important;">
                    <label class="submenu-label d-flex align-items-center" style="padding-left: 40px;" for="{{details.categorieName}}">
                      <span class="arrow left">&#8249;</span>
                      Back
                    </label>
                                  
                  </li>  
                  
                  <li class="d-flex align-items-center" (click)="closeNavBarMobile()" *ngFor="let detailAndUrl of details.urlAndDescriptions">
                    <a href="{{detailAndUrl.url}}"
                      routerLinkActive="linkActiveDropDown">
                      {{detailAndUrl.textInHref}}
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item d-flex align-items-center">
                <a href="https://g.page/r/CWcEpRY1bs9YEAI/review" target="_blank" style="width:90%; left: 20px;">
                  <span>
                    Rate us
                  </span>
                </a>
              </li>

              <li class="nav-item d-flex align-items-center" (click)="closeNavBarMobile()">
                <a href="/contact/" style="width:90%; left: 20px;">
                  <span routerLinkActive="linkActiveDropDown">
                    Contact us
                  </span>
                </a>
              </li>

            </ul> 
          </li>
        </ul>
      </nav>
<!-- -----------------------------------------------------------------------------------------
------------------------------ end parte navbar in mobile ------------------------------->
  </menu>
</div>
