<nb-layout>
  <nb-layout-column>
    <div class="container">
      <app-breadcrumbs
        [infoAndUrl]="{categorieUrl: 'math/.', nameCategorie: 'Math', namePage:'Percentage Increase Calculator', itemUrl: 'math/percentage-increase-calculator/.'}">
      </app-breadcrumbs>
      <div class="col-12">
        <h1 class="text-secondary text-center pb-3">Percentage Increase Calculator</h1>
        <div class="flexMobile">
          <app-banner *ngIf="envirement"></app-banner>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-5 mx-auto d-flex  justify-content-center align-items-center">
          <img loading="lazy" src="../../../../assets/images/percentage-calclulator.svg" width="300px" height="300px"
            alt="Percentage Calculator" class="d-md-block d-none">
        </div>
        <div class="col-md-7">

          <div class="card">
            <div class="card-header row mx-0 py-1">
              <h2 class="d-inline col-md-8  my-auto text-white text-center font-weight-bold">Percentage Growth Calculator
              </h2>
              <div class="col-md-4 col-12 text-white mt-2  d-flex justify-content-center">
                  <span class=" d-flex align-items-center" style="margin-right: 10px;">
                    100 *
                  </span>
                  <span class=" px-1 ">
                    <span style="border-bottom: solid 3px white ; padding-bottom:5px; margin-bottom: 5px;">(Final -
                      Intial)
                    </span><br>
                    <span class="d-flex" style="margin-left: 30px;">
                      <span class="mt-2 ">Intial</span>
                    </span>
                  </span>
              </div>
            </div>
            <div class="card-body" #target4>
              <div *ngIf="rsltIncDec">
                <p class="font-weight-bold">steps :</p>
                <div class="border">
                  <div class="row  ml-3">
                    <div class="col-md-6 my-auto">
                      <p class=" text-center font-weight-bold" style="margin-block-end: 0;">Percentage increase =
                      </p>
                    </div>
                    <div class="col-md-6 my-auto d-flex justify-content-center">
                      <div class="row mt-2">
                        <span class="mt-3 px-2">
                          100 x
                        </span>
                        <span class="text-center">
                            <span
                              style="border-bottom: solid 3px black ; padding-bottom:5px; margin-bottom: 5px;">{{finalValue}}
                              - {{intialValue}}
                            </span><br>
                            <div class="ml-2 mt-2 text-center">{{intialValue}}</div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- <p><strong class="ml-5">Percent Increase =</strong> 100 x {{finalValue}} - {{intialValue}} /
                    {{intialValue}}<br>{{resultIncDec}} %</p> -->
                    <div class="row ml-3 my-3">
                      <div class="col-md-6"> <p class="text-center"><strong>Percentage increase =</strong></p></div>
                      <div class="col-md-6 text-center">{{resultIncDec | number}} %</div>
                    </div>
                    <div class="row ml-3">
                      <div class="col-md-6"> <p class="text-center"><strong >Diffrence =</strong></p></div>
                      <div class="col-md-6 text-center">{{difference}}</div>
                    </div>

                  <p class="text-center"><strong>{{finalValue}}</strong> is a <strong>{{resultIncDec | number}}
                      %</strong>
                    increase of
                    <strong>{{intialValue}}</strong>.</p>
                </div>
                <p class="text-white text-center msg font-weight-bold">Result : {{resultIncDec | number}} %</p>
                <!-- <app-banner *ngIf="envirement"></app-banner> -->
              </div>
              <form [formGroup]="calculePercentageIncDec" (ngSubmit)="CalculatePercentageIncDec(target4)">
                <div *ngIf="errorFormFor" class="alert alert-danger mx-auto text-center" role="alert">
                  <span>
                    {{errorFormFor}}
                  </span>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="intial">Intial value</label>
                    <input id="intial" class="form-control" type="number" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="?" formControlName="intial">
                    <small class="text-danger"
                      *ngIf="submittedFormFor && formPercentageIncDec.intial.errors?.required">this
                      field
                      required.
                      !</small>
                  </div>
                  <div class="col-md-12 mt-4">
                    <label for="final">Final value</label>
                    <input id="final" class="form-control" type="number" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="" formControlName="final" placeholder="?">
                    <small class="text-danger"
                      *ngIf="submittedFormFor && formPercentageIncDec.final.errors?.required">this
                      field
                      required.
                      !</small>
                  </div>
                  <div class="col-md-12 mt-4">
                    <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-banner *ngIf="envirement"></app-banner>
        </div>
      </div>
      <app-other-calcultor-math eleminateCalculator="pic"></app-other-calcultor-math>
      <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">Learn About
        Percentage Increase Calculator</p>

      <div class="row border shadow bg-white my-4">
        <div class="col-md-12 mx-2 my-4">
          <p>A % increase calculator online is developed particularly to compute <a routerLink="/math/percentage-decrease-calculator/.">percentage decreases</a> and increases 
            based on starting values. Utilize this calculator to assess the percentage change between various
            percentage-based analyses. You need to be well-versed in the following terminology before we can utilize it.
          </p>
          <p><em>Let's get started!</em></p>
          <h3>What Is a Percentage Increase?</h3>
          <p>The rise between two values is precisely measured by the percentage increase, a fundamental mathematical
            statistic. All numerical systems, such as those involving pricing, temperatures, real numbers, and a
            plethora of other things, frequently employ it. and typically refers to ideals that evolve throughout time.
          </p>
          <p>Discover the formula for percentage increases as well as real-world applications.</p>
          <h4>Examples and Definition of Percentage Increase</h4>
          <p>The difference between the end value and the starting value is expressed as a percent increase as a
            function of the starting value. The result of multiplying this decimal by 100 is a percentage increase
            between the final and starting values. The applications of percentage increase are extremely diverse.
            Statisticians may use it to gauge the likelihood of events, investors may use it to gauge returns, and
            accountants may use it to compute taxes.</p>
          <p>Here is a little illustration of how to compute percent increase:</p>
          <ul>
            <li>When the share price increased from $1,000 to $1,700, the investor's investment increased by 70%.</li>
            <li>A statistician observes that from 100,000 to 130,000, the population has grown by 30%.</li>
            <li>To keep up with inflation, a grocery store raises the price of bread by 2%.</li>
          </ul>
          <p>It's crucial to know how to compute percentage increases because there are several examples of them in
            daily life.</p>
          <h4>Formula Book</h4>
          <ul>
            <li>A positive mathematical measure of the difference between two values is a percentage increase.</li>
            <li>Many other businesses utilize it, including banking, actuarial science, retail, and many more.</li>
            <li>A positive % increase will always range from 0 to 100, whereas a negative percentage increase will range
              from 0 to -100.</li>
            <li>Since percentages are based on metrics, you may use them to compare data over a range of various units,
              such as population growth and stock price growth.</li>
          </ul>
          <h4>Formula</h4>
          <p>The formula for calculating a percent increase is as follows: </p>
          <p><strong>PI (%) = ((FV - IV) ÷ IV) × 100, where: </strong></p>
          <ul>
            <li><strong>PI (%) = Percent Increase</strong></li>
            <li><strong>Fv = Final Value</strong></li>
            <li><strong>Iv = Initial Value</strong></li>
          </ul>
          <p>If the end number is greater than the starting value, the percentage gain will always be positive. The
            outcome would be a percentage increase, nevertheless, if the ending amount is less than the starting value.
            Here are a few percentage increase examples to help illustrate this formula:</p>
          <h5 class="text-secondary">As an illustration:</h5>
          <p>James is an investor who wishes to calculate his portfolio's growth over the previous year as a percentage.
            His portfolio had an initial value of $150,000 on January 1 and an ending value of $270,000. James would
            compute the % increase in what way?</p>
          <h5 class="text-secondary">Solution:</h5>
          <p>The best method for resolving any issue is to begin by defining the information already known before
            substituting it into the formula given. According to the query, we know:</p>
          <p><strong>$150,000 was the initial value.</strong></p>
          <p><strong>Total Price: $270,000</strong></p>
          <p>The portfolio gain as a percentage may then be determined by doing the three procedures above:</p>
          <ul>
            <li>Increase equals 270,000 minus 150,000, or 120,000.</li>
            <li>Factor Increase = 120,000 divided by 150,000 equals 0.8</li>
            <li>Increase in percentage = 0.8 x 100 = 80%</li>
          </ul>
          <p>As an alternative, you may enter the numbers straight into the calculation for the percentage increase,
            which would look like this:</p>
          <p><strong>((270,000 - 150,000) / 150,000) / 100 = 80% increase in percentage</strong></p>
          <p>James' portfolio grew by 80% during the previous year.</p>
          <h3>How to Calculate an Increase in Percentage</h3>
          <p>Divide the new value by the original value after subtracting the first value. Then divide the result by 100
            to obtain the percentage increase.</p>
          <ul>
            <li>Find the Difference in 1. <br>Finding the difference between the two numbers is the first step.
              <br>Difference is equal to 2 - 1.</li>
            <li>Locate the Factor <br>The 'difference' from above should then be divided by Number 1:</li>
            <li>difference = factor number 1 multiplied by 100 <br>The factor should then be multiplied by 100.
              <br>Increase in Percentage = Factor x 100</li>
          </ul>
          <h4>Percentage Increase Calculator uses</h4>
          <p>The use of relative growth calculations in various relevant circumstances should be illustrated by a number
            of real-world examples on how to calculate a percentage increase.</p>
          <h4>New versus old salary / hourly rate</h4>
          <p>old versus new in terms of hourly pay</p>
          <p>Assuming you were offered a 20% raise on top of your current $50,000 pay, you would multiply that amount by
            100 to find your new salary: </p>
          <p>$50,000 + $50,000 * 20/100 <br> = $50,000 + $50,000 * 0.2 <br> = $50,000 + $10,000 <br> = $60,000. </p>
          <p>Say someone approaches you about a new job opportunity and offers you $60,000 instead of your existing
            $50,000 income. What proportion of the $10,000 difference was increased? By entering the data into the first
            calculation above, we can calculate the increase as follows: </p>
          <p>$60,000 / $50,000 * 100 - 100 <br> = 1.2 * 100 - 100 = 120 - 100 <br> = 20%. <br> This may be confirmed by
            utilising this online percentage</p>
          <h4>Business growth example</h4>
          <p>Consider that you own a small business and that you currently serve 20 clients each month on average,
            bringing in $20,000 per month on average. You would want to raise your income by 20%. How many additional
            clients would you require? 20 must be multiplied by 20% and added, making 5 plus 20 equal 25. In order to
            raise your income by 20%, assuming that the revenue per client keeps the same, you would need to service 5
            more customers each month, for a total of 25 consumers.</p>
          <p>Say, for example, that you welcome 20 new clients on average each month. However, you received 30 new
            clients in December, and you want to indicate what percentage growth it represents. </p>
          <p>Of course, using our free online percentage increase calculator is the simplest option, but if you want to
            do the calculations by hand, the answer is 30/20 * 100-100 = 1.5 * 100-100 = 150-100 = 50%. The number of
            new clients will rise by 50% for every additional 10 clients.</p>
          <h4>Calculate price with tax</h4>
          <p>In another instance, you can notice a price for a product but no mention of tax (like VAT). Knowing that
            there is a 20% tax added to the $10 pricing, you want to know what the ultimate cost will be. You may
            rapidly determine that the ultimate cost is $12 using a calculator that measures percent increases. There
            was a $2 price hike. Alternatively, you may use our customized VAT calculator.</p>
          <h4>Increase in property value example</h4>
          <p>Example of an increase in property value</p>
          <p>In this illustrative use case for our percent increase calculator, you have just purchased a home valued at
            $500,000, and you want to know what <a href="https://en.wikipedia.org/wiki/Percentage" target="_blank" rel="noopener noreferrer">percentage</a> it has climbed to $550,000. You multiply the new price by the
            previous one, like $550,000 / $500,000 = 1.1, then deduct 100 to obtain the new price. The end conclusion is
            that your property's growth in value to the extent of 50,000 USD throughout that time period has boosted the
            worth of your property by 10%.</p>
          <h4>How Does the Calculator for Percent Increase Work?</h4>
          <p>You may get the precise ascent in your calculations with the aid of our free <a routerLink="/math/percentage-calculator/.">percentage gain calculator</a>.
            Allow us to instruct you on its use.
          </p>
          <p><strong>Input:</strong></p>
          <ul>
            <li>Just input your starting value.</li>
            <li>similarly enter the final value</li>
            <li>To calculate, click the button.</li>
          </ul>
          <p><strong>Output:</strong></p>
          <p>The calculator for percentage increases determines:</p>
          <ul>
            <li>Increase in percentage</li>
            <li>percent reduction</li>
            <li>Variation between the preliminary and final results</li>
          </ul>
          <h4>How is percentile converted to a percentage?</h4>
          <p>The processes for converting a percentile to a % are as follows. These consist of:</p>
          <ul>
            <li>To start, sort the entire set of data from least to greatest.</li>
            <li>Once you've done that, count the values and assign each one a name, such "r."</li>
            <li>Discover the importance of</li>
            <li>Simply multiply q percent and r after that.</li>
            <li>Finally, if the response is a full number, it is acceptable. Put it into a correct whole number if it is
              not.</li>
          </ul>
          <h4>How does it help?</h4>
          <p>To fairly measure their performance across various asset classes or even to alter the prices of their
            services, investors, traders, and virtually every other person involved in finance can use percentage
            increases (or decreases).</p>
          <p>It is generally agreed upon that the preferred measuring tool for determining growth or a positive change
            between two values will always be the percentage increase.</p>
          <h4>Conclusion:</h4>
          <p>When analyzing the manufacturing rate, the percentage is a crucial factor. The free percentage increase
            calculator is widely used by mathematicians, engineers, architects, professionals, and academics to estimate
            any improvement in their performance and results.</p>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
<ngx-json-ld [json]="schema"></ngx-json-ld>
