<nb-layout>
  <nb-layout-column>
    <div class="container">
      <app-breadcrumbs
        [infoAndUrl]="{categorieUrl: 'math/.', nameCategorie: 'Math', namePage:'Percentage Calculator', itemUrl: 'math/percentage-calculator/.'}">
      </app-breadcrumbs>
      <div class="col-12">
        <h1 class="text-secondary text-center pb-3">Percentage Decreased Calculator</h1>
        <div class="flexMobile">
          <app-banner *ngIf="envirement"></app-banner>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-5 mx-auto d-flex  justify-content-center align-items-center">
          <img loading="lazy" src="../../../../assets/images/percentage-calclulator.svg" width="300px" height="300px"
            alt="Percentage Calculator" class="d-md-block d-none">
        </div>
        <div class="col-md-7">
          <!-- What is x increased/decreased by p%? -->
          <div class="card">
            <div class="card-header row mx-0 py-1">
              <h2 class="d-inline col-md-8  my-auto text-white text-center">Percentage Decreased =
              </h2>
              <div class="col-md-4 text-white">
                <div class="row mt-2 my-auto">
                  <span class="col-4 d-flex align-items-center justify-content-end">
                    100 *
                  </span>
                  <span class="col-8 px-1">
                    <span style="border-bottom: solid 3px white ; padding-bottom:5px; margin-bottom: 5px;">(Intial -
                      Final
                      )
                    </span><br>
                    <span class="d-flex justify-content-center">
                      <span class="mt-2 ">Intial</span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body" #target4>
              <div *ngIf="rsltIncDec">
                <p class="font-weight-bold">steps :</p>
                <div class="border">
                  <div class="row">
                    <div class="col-md-6 my-auto">
                      <p class="d-inline text-center font-weight-bold ml-3">Percentage increased =
                      </p>
                    </div>
                    <div class="col-md-6  my-auto">
                      <div class="row mt-2">
                        <span class="col-4 d-flex align-items-center">
                          100 x
                        </span>
                        <span class="col-8">
                          <span
                            style="border-bottom: solid 3px black ; padding-bottom:5px; margin-bottom: 5px;">{{intialValue}}
                            - {{finalValue}}

                          </span><br>
                          <p class="text center ml-3 mt-2">{{intialValue}}</p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- <p><strong class="ml-5">Percent Increase =</strong> 100 x {{finalValue}} - {{intialValue}} /
                      {{intialValue}}<br>{{resultIncDec}} %</p> -->
                  <p><strong class="ml-5">Percent Increase =</strong> {{resultDec | number}} %</p>
                  <p><strong class="ml-5">Diffrence =</strong> {{difference}} </p>
                  <p class="text-center"><strong>{{finalValue}}</strong> is a <strong>{{resultDec | number}} %</strong>
                    Decrease of
                    <strong>{{intialValue}}</strong>.</p>
                  <i>or equivalently</i>
                  <p class="text-center"><strong>{{finalValue}}</strong> is a <strong>{{resultInc | number}} %</strong>
                    increase of
                    <strong>{{intialValue}}</strong>.</p>
                </div>
                <p class="text-white text-center msg font-weight-bold">Result : {{resultDec}} %</p>
                <app-banner *ngIf="envirement"></app-banner>
              </div>
              <form [formGroup]="calculePercentageIncDec" (ngSubmit)="CalculatePercentageIncDec(target4)">
                <div *ngIf="errorFormFor" class="alert alert-danger mx-auto text-center" role="alert">
                  <span>
                    {{errorFormFor}}
                  </span>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="intial">Intial value</label>
                    <input id="intial" class="form-control" type="number" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="?" formControlName="intial">
                    <small class="text-danger"
                      *ngIf="submittedFormFor && formPercentageIncDec.intial.errors?.required">this
                      field
                      required.
                      !</small>
                  </div>
                  <div class="col-md-12 mt-4">
                    <label for="final">Final value</label>
                    <input id="final" class="form-control" type="number" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="" formControlName="final" placeholder="?">
                    <small class="text-danger"
                      *ngIf="submittedFormFor && formPercentageIncDec.final.errors?.required">this
                      field
                      required.
                      !</small>
                  </div>
                  <div class="col-md-12 mt-4">
                    <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-banner *ngIf="envirement"></app-banner>
        </div>
      </div>
      <app-other-calcultor-math eleminateCalculator="pc"></app-other-calcultor-math>
      <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">Learn About
        Percentage Decrease Calculator</p>

      <div class="row border shadow bg-white my-4">
        <div class="col-md-12 mx-2 my-4">
          <p>The formula for Reduction Percentage states that the beginning value is deducted from the final value in
            order to calculate the percentage decrease in two values (final value and initial value). To calculate the
            lowered percentage, multiply the result by 100 and divide it by the starting amount. </p>
          <p>Decrease calculator online is developed particularly to compute percentage Decreases and decreases based on
            starting values. Utilize this calculator to assess the percentage change between various percentage-based
            analyses. You need to be well-versed in the following terminology before we can utilize it.</p>
          <p><em>Let's get started!</em></p>
          <h3>What Is a Percentage Decrease?</h3>
          <p>To calculate the percent decrease in value from the actual value using hundredths, an online calculator for
            percentage decrease was created. However, let's make sure you understand the following context before
            continuing to assess the value of the percent decrease.</p>
          <p>The rise between two values is precisely measured by the percentage Decrease, a fundamental mathematical
            statistic. All numerical systems, such as those involving pricing, temperatures, real numbers, and a
            plethora of other things, frequently employ it. and typically refers to ideals that evolve throughout time.
          </p>
          <p>Discover the formula for percentage Decreases as well as real-world applications.</p>
          <h4>Examples and Definition of Percentage Decrease</h4>
          <p>The difference between the end value and the starting value is expressed as a percent Decrease as a
            function of the starting value. The result of multiplying this decimal by 100 is a percentage Decrease
            between the final and starting values. </p>
          <p>The applications of percentage Decrease are extremely diverse. Statisticians may use it to gauge the
            likelihood of events, investors may use it to gauge returns, and accountants may use it to compute taxes.
          </p>
          <p>Here is a little illustration of how to compute percent Decrease:</p>
          <ul>
            <li>When the share price Decreased from $1,000 to $1,700, the investor's investment Decreased by 70%.</li>
            <li>A statistician observes that from 100,000 to 130,000, the population has grown by 30%.</li>
            <li>To keep up with inflation, a grocery store raises the price of bread by 2%.</li>
          </ul>
          <p>It's crucial to know how to compute percentage Decreases because there are several examples of them in
            daily life.</p>
          <h4>Formula Book</h4>
          <ul>
            <li>A positive mathematical measure of the difference between two values is a percentage Decrease.</li>
            <li>Many other businesses utilize it, including banking, actuarial science, retail, and many more.</li>
            <li>A positive % Decrease will always range from 0 to 100, whereas a negative percentage Decrease will range
              from 0 to -100.</li>
            <li>Since percentages are based on metrics, you may use them to compare data over a range of various units,
              such as population growth and stock price growth.</li>
          </ul>
          <h4>Formula</h4>
          <p>The formula for calculating a percent Decrease is as follows: </p>
          <p><strong>PI (%) = ((FV - IV) ÷ IV) × 100, where: </strong></p>
          <ul>
            <li><strong>PI (%) = Percent Decrease</strong></li>
            <li><strong>Fv = Final Value</strong></li>
            <li><strong>Iv = Initial Value</strong></li>
          </ul>
          <p>If the end number is greater than the starting value, the percentage gain will always be positive. The
            outcome would be a percentage Decrease, nevertheless, if the ending amount is less than the starting value.
            Here are a few percentage Decrease examples to help illustrate this formula:</p>
          <h5 class="text-secondary">As an illustration:</h5>
          <p>James is an investor who wishes to calculate his portfolio's growth over the previous year as a percentage.
            His portfolio had an initial value of $150,000 on January 1 and an ending value of $270,000. </p>
          <p>James would compute the % Decrease in what way?</p>
          <h5 class="text-secondary">Solution:</h5>
          <p>The best method for resolving any issue is to begin by defining the information already known before
            substituting it into the formula given. According to the query, we know:</p>
          <p><strong>$150,000 was the initial value.</strong></p>
          <p><strong>Total Price: $270,000</strong></p>
          <p>The portfolio gain as a percentage may then be determined by doing the three procedures above:</p>
          <ul>
            <li>Decrease equals 270,000 minus 150,000, or 120,000.</li>
            <li>Factor Decrease = 120,000 divided by 150,000 equals 0.8</li>
            <li>Decrease in percentage = 0.8 x 100 = 80%</li>
          </ul>
          <p>As an alternative, you may enter the numbers straight into the calculation for the percentage Decrease,
            which would look like this:</p>
          <p><strong>((270,000 - 150,000) / 150,000) / 100 = 80% Decrease in percentage</strong></p>
          <p>James' portfolio grew by 80% during the previous year.</p>
          <h4>Percentage Decrease Calculator Relevance and Uses</h4>
          <p>The calculation for percentage reduction aids in calculating the real percentage by which the value of the
            underlying has fallen. To calculate how much the value of the shares has dropped or how much the portfolio
            as a whole has dropped, it is also used in finance.</p>
          <p>Additionally, it is quite beneficial for drawing comparisons. Assume, for instance, that both the
            portfolio's performance and the performance of the index it aims to monitor and imitate have deteriorated.
            In that instance, the formula aids in determining which of the two has fallen farther, assisting in the
            decision of whether to alter the portfolio.</p>
          <p>A crucial mathematical notion for determining the difference between the end value and the starting value
            of any underlying is the percentage reduction. Finding the difference between an underlying's final value
            and its starting value, and then dividing that difference by the original value, is the formula for
            calculating the decline percentage. </p>
          <p>This will provide us with a percentage drop in an underlying's value. The concept of the percentage decline
            is crucial because, in reality, most items lose value when they are purchased or taken out of a store or
            showroom.</p>
          <p>The idea of percentage reduction is crucial since, in real life, most things lose value after being
            purchased or used by one person. The percentage drop equation is frequently used in the field of finance to
            calculate the percentage decrease in share value or the entire portfolio's value. To compare percentage
            declines among commodities, the percentage decrease equation is frequently employed.</p>
          <h4>How Does the Calculator for Percent Decrease Work?</h4>
          <p>You may get the precise ascent in your calculations with the aid of our free percentage gain calculator.
            Allow us to instruct you on its use.</p>
          <p><strong>Input:</strong></p>
          <ul>
            <li>Just input your starting value.</li>
            <li>similarly enter the final value</li>
            <li>To calculate, click the button.</li>
          </ul>
          <p><strong>Output:</strong></p>
          <p>The calculator for percentage Decreases determines:</p>
          <ul>
            <li>Increase in percentage</li>
            <li>percent reduction</li>
            <li>Variation between the preliminary and final results</li>
          </ul>
          <h4>How does it help?</h4>
          <p>To fairly measure their performance across various asset classes or even to alter the prices of their
            services, investors, traders, and virtually every other person involved in finance can use percentage
            Decreases (or decreases).</p>
          <p>It is generally agreed upon that the preferred measuring tool for determining growth or a positive change
            between two values will always be the percentage Decrease.</p>
          <h4>Conclusion:</h4>
          <p>Those who are prepared for the aptitude exam should pay close attention to percentage decline. The free %
            decrease calculator makes it easy for students and experts to find fast solutions to simple arithmetic
            problems.</p>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
<ngx-json-ld [json]="schema"></ngx-json-ld>
