<nb-layout>
  <nb-layout-column>
    <div class="container">
      <app-breadcrumbs
        [infoAndUrl]="{categorieUrl: 'math/.', nameCategorie: 'Math', namePage:'Percentage Calculator', itemUrl: 'math/percentage-calculator/.'}">
      </app-breadcrumbs>
      <div class="col-12">
        <h1 class="text-secondary text-center pb-3">Percentage Decreased Calculator</h1>
        <div class="flexMobile">
          <app-banner *ngIf="envirement"></app-banner>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-5 mx-auto d-flex  justify-content-center align-items-center">
          <img loading="lazy" src="../../../../assets/images/percentage-calclulator.svg" width="300px" height="300px"
            alt="Percentage Calculator" class="d-md-block d-none">
        </div>
        <div class="col-md-7">
          <!-- What is x increased/decreased by p%? -->
          <div class="card">
            <div class="card-header text-white text-center font-weight-bold row mx-0 py-1">
              <p class="d-inline col-md-8  my-auto text-white text-center font-weight-bold">Percentage Decreased = </p>
              <div class="col-md-4">
                <div class="row mt-2 my-auto">
                  <span class="col-4 d-flex align-items-center justify-content-end">
                    100 *
                  </span>
                  <span class="col-8 px-1">
                    <span style="border-bottom: solid 3px white ; padding-bottom:5px; margin-bottom: 5px;">(Intial -
                      Final
                      )
                    </span><br>
                    <span class="d-flex justify-content-center">
                      <span class="mt-2 ">Intial</span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body" #target4>
              <div *ngIf="rsltIncDec">
                <p class="font-weight-bold">steps :</p>
                <div class="border">
                  <div class="row">
                    <div class="col-md-6 my-auto">
                      <p class="d-inline text-center font-weight-bold ml-3">Percentage increased =
                      </p>
                    </div>
                    <div class="col-md-6  my-auto">
                      <div class="row mt-2">
                        <span class="col-4 d-flex align-items-center">
                          100 x
                        </span>
                        <span class="col-8">
                          <span
                            style="border-bottom: solid 3px black ; padding-bottom:5px; margin-bottom: 5px;">{{intialValue}}
                            - {{finalValue}}

                          </span><br>
                          <p class="text center ml-3 mt-2">{{intialValue}}</p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- <p><strong class="ml-5">Percent Increase =</strong> 100 x {{finalValue}} - {{intialValue}} /
                      {{intialValue}}<br>{{resultIncDec}} %</p> -->
                  <p><strong class="ml-5">Percent Increase =</strong> {{resultDec}} %</p>
                  <p><strong class="ml-5">Diffrence =</strong> {{difference}} </p>
                  <p class="text-center"><strong>{{finalValue}}</strong> is a <strong>{{resultDec}} %</strong>
                    Decrease of
                    <strong>{{intialValue}}</strong>.</p>
                  <i>or equivalently</i>
                  <p class="text-center"><strong>{{finalValue}}</strong> is a <strong>{{resultInc}} %</strong>
                    increase of
                    <strong>{{intialValue}}</strong>.</p>
                </div>
                <p class="text-white text-center msg font-weight-bold">Result : {{resultDec}} %</p>
                <app-banner *ngIf="envirement"></app-banner>
              </div>
              <form [formGroup]="calculePercentageIncDec" (ngSubmit)="CalculatePercentageIncDec(target4)">
                <div *ngIf="errorFormFor" class="alert alert-danger mx-auto text-center" role="alert">
                  <span>
                    {{errorFormFor}}
                  </span>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="intial">Intial value</label>
                    <input id="intial" class="form-control" type="number" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="?" formControlName="intial">
                    <small class="text-danger"
                      *ngIf="submittedFormFor && formPercentageIncDec.intial.errors?.required">this
                      field
                      required.
                      !</small>
                  </div>
                  <div class="col-md-12 mt-4">
                    <label for="final">Final value</label>
                    <input id="final" class="form-control" type="number" nbInput fullWidth status="basic"
                      shape="semi-round" placeholder="" formControlName="final" placeholder="?">
                    <small class="text-danger"
                      *ngIf="submittedFormFor && formPercentageIncDec.final.errors?.required">this
                      field
                      required.
                      !</small>
                  </div>
                  <div class="col-md-12 mt-4">
                    <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-banner *ngIf="envirement"></app-banner>
        </div>
      </div>
      <app-other-calcultor-math eleminateCalculator="pc"></app-other-calcultor-math>
      <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 30px !important;">Learn About
        Percentage
        Calculator</p>

      <div class="row border shadow bg-white my-4">
        <div class="col-md-12 mx-2 my-4">
          <h2>Percentage Calculator</h2>
          <p>
            An online <a href="https://en.wikipedia.org/wiki/Percentage" target="_blank"
              rel="noopener noreferrer">percentage calculator</a> is a tool that allows you to compute percentages and
            percent values. Simply
            put, this percent calculator employs simple formulas to calculate percentages and unknown percent values in
            equations. This % calculator also allows you to add or subtract a percentage from a given amount, as well as
            solve equations.
          </p>
          <p>
            In this post, we will explain how to calculate % using a calculator or manually for any equation, the
            formula for percent, and much more that will help you discover percentage of whatever you want! But first,
            let's define math percentage.
          </p>
          <h2>What is The Percentage In Mathematics?</h2>
          <p>In mathematics, a percentage is defined as a quantity or ratio that represents a fraction of 100. It is
            commonly denoted by the symbol "%" or, less commonly, as "percent" and "pct." For example, when computing
            percentages, 35% is comparable to the decimal 0.35 and is written as 35 / 100 in fraction form.</p>
          <p>You may also use this free calculator-online tool to convert right or improper fractions and mixed numbers
            to percentages.</p>
          <h3>Percent vs. Percentage:</h3>
          <p>Whenever the term % appears, it is generally used in conjunction with a number. Take, for example, 50%.
            However, the word % is rarely used in conjunction with a number. For example, how much of the color box is
            red?</p>
          <h3>Percentage Formula:</h3>
          <p>Though the % formula can be written in a variety of ways, it is essentially an algebraic equation using the
            three numbers shown below.</p>
          <ul>
            <li>V1=V2 P (percentage)</li>
            <li>P denotes the percentage, and V1 is the first number that the percentage will change.</li>
            <li>V2 is the result of the % that is operating on V1.</li>
          </ul>
          <p>The % increase calculator turns the supplied input percentage into a decimal value in order to get the
            optimal option. However, if someone answers percentage questions, the resultant figure will be the real %.
            It will not provide you a decimal representation.</p>
          <p class="font-weight-bold">Example:</p>
          <p>
            P× 20 = 2.5 \sP = 2.5 / 20 = 0.125 * 100 = 12.5%
            If you are addressing a problem by hand, the formula requires the percentage in decimal form. As in the
            preceding example, a multiplication by 100 is required to translate to a percentage.
          </p>
          <h3>Percentage Change Formula:</h3>
          <p>Our percent change calculator is designed to compute percentage change by following the fundamental rule
            outlined below.</p>
          <p>Any percentage change is estimated by calculating the entire deviation between two numbers and then
            comparing that variance to the first value. Arithmetically, it entails using the precise value of the
            deviation between any two values and then dividing the result by the first value, measuring the amount to
            which the original value has been modified.</p>
          <p>Our calculator computes an increase or decrease of a particular percentage of the entered figures. It
            mostly consists of converting a percentage to decimal form and then subtracting or adding the comparable
            decimal to 1. It is referred to as a percentage change.</p>
          <p class="font-weight-bold">Example:</p>
          <p>To compute the percentage increase, we have:</p>
          <ul>
            <li>200 improved by 10%</li>
            <li>10 / 100 = 0.1 \s200 * (1 + 0.1) = 220</li>
            <li>To determine the percentage decrease</li>
          </ul>
          <p>200 is reduced by 10%.</p>
          <p>10 / 100 = 0.1 \s200 * (1 – 0.1) = 180</p>
          <h3>How to Calculate Percentages?</h3>
          <p>Simply use the above % calculator for quick and accurate calculations relating to percentage concerns.
            Finding percentages may also be carried out manually with the use of a percentage formula. However, using a
            percent computer is another simple approach to compute the percentage.</p>
          <p class="font-weight-bold">Example:</p>
          <p>What will 10% of 60 be?</p>
          <p>Using the formula: P multiplied by V1 Equals V2</p>
          <p>10% will be multiplied by 60, yielding 6 (10/100 * 60).</p>
          <h3>How to Find The Percent of a Number?</h3>
          <p>If you want to know what percentage C is of D, just divide C by D in the first step. Take the resulting
            number and shift the decimal two spaces to the right. That is your percentage. Percentage calculators are
            widely available online in this day and age to compute percentages and percentage changes.</p>
          <h3>How to Find Percentage of Something?</h3>
          <p>The simplest basic approach for calculating a percentage of something is as follows: P multiplied by 100 =
            X divided by Y.</p>
          <p class="font-weight-bold">Example:</p>
          <ul>
            <li>What is the proportion of 5 out of 25?</li>
            <li>Because we just divide 5 by 25 and then multiply by 100, the result is 20%.</li>
          </ul>
          <h3>How Do You Determine Percentage Change?</h3>
          <p>To compute % change, use the following formula:</p>
          <p>Change in Percentage=V divided by V1100=(V2V1) divided by V1 multiplied by 100</p>
          <p class="font-weight-bold">Example:</p>
          <p>How can I calculate the percentage change from 3.50 to 2.625 presented as an increase or decrease?</p>
          <ul>
            <li>In this example, the first value is 3.50, and the second value is 2.625.</li>
            <li>Use the following formula: = (2.6253.50) divided by 3.50 multiplied by 100=0.25100=25%change</li>
          </ul>
          <p>This calculation may also be done with the help of the aforementioned percentage change calculator.</p>
          <h3>Percent or Percentage Problems:</h3>
          <p>Let's look at the many equations that correspond to the percent or percentages. There are some solved
            example issues that you might find useful! Furthermore, the sample problem forms correspond to the input
            fields of the aforesaid percentage calculator. The proofs and examples are as follows:</p>
          <h4>What is P percent of X?</h4>
          <p>It is expressed mathematically as Y = P% * X.</p>
          <p>The "what" is stated to be Y, which you wish to solve.</p>
          <p>To begin, convert the percentage to a decimal by dividing by 100.</p>
          <p>Solution: use the percentage formula to solve for Y.</p>
          <p>Y = P% * X</p>
          <h4>Example Problem: What is 20% of 50?</h4>
          <p class="font-weight-bold">Solution:</p>
          <p>Y = P% * X Y = 20% * 50 Equation</p>
          <p>Percentage to decimal conversion: Y = (20/100) * 50 Y = 0.2 * 50 Y = 10</p>
          <h3>Y is what percent of X?</h3>
          <p>Y = P%? X is written as an equation.</p>
          <p>The "what" is stated to the P% that you wish to solve.</p>
          <p>Simply divide both sides by X to get P% on one side of the equation Y X = (P%? X) X, and you get Y X = P%.
            It may alternatively be represented as P% = Y X</p>
          <p>Simply solve for P% using the percentage equation P% = Y X.</p>
          <h3>Y is P percent of what?</h3>
          <p>It may be expressed mathematically as Y = P% * X.</p>
          <p>The "what" is defined as the X that you wish to solve.</p>
          <p>Simply divide both sides of the equation by P% to get X on one side Y P% = (P% X) P%, and you get Y P% = X,
            which is also written as X = Y P%.</p>
          <p><span class="font-weight-bold">Solution:</span> To solve for X X = Y P%, use the percentage formula.</p>
          <h3>What percent of X is Y?</h3>
          <p>It may be stated mathematically as P% * X = Y.</p>
          <p>The "what" is P%, which you must solve for.</p>
          <p>Simply divide both sides of the equation by X to get P% on only one side (P% * X) X = Y X, and you get P% =
            Y X.</p>
          <p><span class="font-weight-bold">Solution:</span> Use the% formula to solve for P%.</p>
          <p>P% = Y ÷ X</p>
          <h3>P percent of what is Y?</h3>
          <p>P% X = Y is expressed as an equation:</p>
          <p>The "what" is represented by X, which you must solve.</p>
          <p>Now, divide both sides of the equation by P% to get X on one side (P% X) P% = Y P%, and you get: X = Y ÷ P%
          </p>
          <p>For the answer X = Y P%, use the% formula.</p>
          <h2>About Percentage Calculator:</h2>
          <p>Calculator-online online's % calculator assists you in calculating percentage and unexplained percent
            values in equations. To calculate percentages of the supplied equation, the tool use a basic percentage
            formula. This percent calculator also allows you to add or subtract a percentage from a value as well as
            solve equations.</p>
          <h2>How to Figure Out Percentages With This Percentage Calculator:</h2>
          <p>The calculator is completely free and allows you to calculate percentages or what percentage of (any
            quantity) in a matter of seconds. With the help of this calculator, you may simply and reliably compute %
            age or more. Simply follow these procedures to get the specific readings that correspond to the percentages.
          </p>
          <p class="font-weight-bold">Inputs:</p>
          <p>
            First, select the equation for which you wish to compute the percentage.<br>
            The values must then be entered into the specified fields corresponding to the selected equation.
          </p>
          <p>After that, simply press the calculate button to get the real % amount.</p>
          <p class="font-weight-bold">Outputs:</p>
          <p>
            According to the percentage calculator:<br>
            Percentage value calculated using the chosen percentage equation<br>
            Show the equation's step-by-step computation.
          </p>
          <h2>Many uses for a percentage calculator</h2>
          <p>As the various examples above show a percentage calculator may be useful in a wide range of practical
            situations. Such a tool can compute changes in electoral sentiment in democratic systems, industrial
            production, stocks of material goods in warehouses, albums sold by an artist/musician, journals in a
            scientific journal, personnel changes in an organisation, as well as natural things such as the amount of
            flora or fauna in a given island, and so on. Another use for percentage computations is to compare
            achievements such as Olympic records and other tournaments and championships.</p>
          <p>A specialised calculator may be used to compare physical quantities like speed, density, brightness,
            reflectivity, strength, tensile strength, and so on. A calculator, on the other hand, is most commonly used
            for financial assets and benchmarks, as well as for everyday things like discounts, commissions, and tipping
            at a restaurant.</p>
          <h2>FAQ’s (Percentage):</h2>
          <h3>What percentage of one number is another?</h3>
          <p>
            If you want to know what percentage of Y X is, simply divide X by Y.<br>
            Then, take that number and change the numeric value two spaces to the right.<br>
            That is your percentage (%).
          </p>
          <h3>How do I find out what percentage one number is of another in Excel?</h3>
          <p>All you have to do is insert the formula =C2/B2 in cell D2 and duplicate it down to as many rows as you
            need. Then, on the Home tab > Number group, select the Percent Style button to show the generated decimal
            fractions as percentages.</p>
          <h3>How do you calculate percentages in your head fast?</h3>
          <p>It is rather straightforward; here are some ways for calculating percentages:</p>
          <ul>
            <li>Simply take 10% and split it by two to get 5%.</li>
            <li>To find 15%, start with 10% and then multiply by 5%.</li>
            <li>To find 20%, simply take 10% and double it by two.</li>
            <li>To find 25%, find 50% and then half it.</li>
            <li>Simply find 50% and add 10% to get 60%.</li>
            <li>To find 75%, take 50% and add 25%... and so o</li>
          </ul>
          <p>
            You may also use an online percent growth calculator to calculate percent.
          </p>
          <p class="font-weight-bold">Wrapping it up:</p>
          <p>
            This percentage calculator calculates the percentage difference between any two positive values that are
            larger than zero. It is useful when you need to know the precise percentage variation between two figures.
            This % calculator teaches you all you need to know about percentage variation. The order of the provided
            numbers is irrelevant to this tool because it just computes percentages of numbers. As a result, it is one
            of the greatest options for educational reasons.
          </p>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
<ngx-json-ld [json]="schema"></ngx-json-ld>
